<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.CouponRoMapper">

    <select id="selectList" parameterType="com.abc12366.uc.model.order.Coupon"
            resultType="com.abc12366.uc.model.order.bo.CouponListBO">
        SELECT id, couponName, couponMode, couponType, amountType,
        validType, validStartTime, validEndTime, validDays, status,
        createTime, lastUpdate
        FROM uc_coupon
        <where>
            <if test="couponMode != null and couponMode != ''">couponMode = #{couponMode}</if>
            <if test="couponType != null and couponType != ''">AND couponType = #{couponType}</if>
            <if test="status != null and status != ''">AND status = #{status}</if>
        </where>
    </select>

    <select id="selectOne" parameterType="java.lang.String" resultType="com.abc12366.uc.model.order.Coupon">
        SELECT id, couponName, couponMode, couponType, param1,
        param2, amountType, validType, validStartTime, validEndTime,
        validDays, description, status, createTime, lastUpdate,
        categoryIds
        FROM uc_coupon
        <where>
            <if test="id != null and id != ''">id = #{id}</if>
        </where>
    </select>

    <select id="selectActivityList" parameterType="com.abc12366.uc.model.order.CouponActivity"
            resultType="com.abc12366.uc.model.order.bo.CouponActivityListBO">
        SELECT ca.id, ca.activityName, ca.couponId, c.couponName, ca.couponNum,
        ca.activityStartTime, ca.activityEndTime, ca.status, ca.createTime, ca.lastUpdate
        FROM uc_coupon_activity ca LEFT JOIN uc_coupon c
        ON ca.couponId = c.id
        <where>
            <if test="activityName != null and activityName != ''">ca.activityName LIKE CONCAT('%',#{activityName},'%')</if>
            <if test="couponId != null and couponId != ''">AND ca.couponId = #{couponId}</if>
            <if test="status != null and status != ''">AND ca.status = #{status}</if>
        </where>
    </select>

    <select id="selectOneActivity" parameterType="java.lang.String"
            resultType="com.abc12366.uc.model.order.CouponActivity">
          SELECT id, activityName, activityLink, couponId, activityStartTime,
              activityEndTime, couponNum, `limit`, limitNum, getType,
              valid, validApi, target, areaOper, areaIds,
              tagOper, tagIds, regTimeOper, regStartTime, regEndTime,
              vips, userIds, description, imageUrl, status,
              createTime, lastUpdate
          FROM uc_coupon_activity
        <where>
            <if test="id != null and id != ''">id = #{id}</if>
        </where>
    </select>

    <select id="selectUserCoupon" parameterType="java.lang.String"
            resultType="com.abc12366.uc.model.order.CouponUser">
        SELECT id, userId, activityId, couponId, couponName,
        couponMode, couponType, param1, param2, amountType,
        validStartTime, validEndTime, description, status, createTime,
        lastUpdate, orderNo, categoryIds
        FROM uc_coupon_user
        <where>
            <if test="id != null and id != ''">id = #{id}</if>
        </where>
    </select>

    <select id="selectUserList" parameterType="com.abc12366.uc.model.order.CouponUser"
            resultType="com.abc12366.uc.model.order.bo.CouponUserListBO">
        SELECT cu.id, cu.userId, u.username, cu.couponMode, cu.couponType,
          cu.param1, cu.param2, cu.amountType, cu.status, cu.createTime,
          cu.lastUpdate, cu.orderNo
        FROM uc_coupon_user cu LEFT JOIN uc_user u
        on cu.userId = u.id
        <where>
            <if test="userId != null and userId != ''">cu.userId = #{userId}</if>
            <if test="activityId != null and activityId != ''">AND cu.activityId = #{activityId}</if>
            <if test="couponId != null and couponId != ''">AND cu.couponId = #{couponId}</if>
            <if test="status != null and status != ''">AND cu.status = #{status}</if>
        </where>
    </select>

    <select id="selectUserCouponCount" parameterType="com.abc12366.uc.model.order.CouponUser"
            resultType="java.lang.Integer">
        SELECT count(*) FROM uc_coupon_user
        <where>
            <if test="userId != null and userId != ''">userId = #{userId}</if>
            <if test="activityId != null and activityId != ''">AND activityId = #{activityId}</if>
            <if test="status != null and status != ''">AND status = #{status}</if>
        </where>
    </select>
</mapper>