<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.ExpressInvoiceRoMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, expressId, invoiceId, createTime, lastUpdate
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByPrimaryKey" resultType="com.abc12366.uc.model.invoice.ExpressInvoice" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_express_invoice
        WHERE id = #{id}
    </select>


</mapper>