<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.GiftRoMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		 id,	name,	imageUrl,	introduction,	details,	status,	sort,	category,	stock,	sellingPrice,	costPrice,	createTime,	lastUpdate,detailUrl
	</sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByPrimaryKey" resultType="com.abc12366.uc.model.gift.Gift" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_gift
        WHERE id = #{id}
    </select>

    <!-- 查询（根据条件查询） -->
    <select id="selectList" resultType="com.abc12366.uc.model.gift.Gift"
            parameterType="com.abc12366.uc.model.gift.Gift">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_gift
        <where>
            1=1
            <if test="name != null  and name!=''">AND name LIKE CONCAT('%',#{name},'%')</if>
            <if test="status != null and status!=''">AND status = #{status}</if>
            <if test="category != null  and category!=''">AND category = #{category}</if>
        </where>
        order BY sort desc
    </select>

    <!-- 查询（根据条件查询） -->
    <select id="selectAdminList" resultType="com.abc12366.uc.model.gift.Gift"
            parameterType="com.abc12366.uc.model.gift.Gift">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_gift
        <where>
            1=1
            <if test="name != null  and name!=''">AND name LIKE CONCAT('%',#{name},'%')</if>
            <if test="status != null and status!=''">AND status = #{status}</if>
            <if test="category != null  and category!=''">AND category = #{category}</if>
        </where>
        order BY lastUpdate desc
    </select>

    <!-- 查询（根据giftID查询） -->
    <select id="selectGiftByGiftId" resultType="com.abc12366.uc.model.gift.Gift"
            parameterType="com.abc12366.uc.model.gift.Gift">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_gift
        <where>
            1=1
            <if test="name != null  and name!=''">AND name LIKE CONCAT('%',#{name},'%')</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="category != null  and category!=''">AND category = #{category}</if>
        </where>
        order BY createTime desc
    </select>
    <!-- 查询（根据giftID查询） -->
    <select id="selectReceiptGiftByDate" resultType="com.abc12366.uc.model.gift.Gift" parameterType="java.util.Date">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_gift
        where status = '3'
        <![CDATA[
                and date_format(lastUpdate, '%Y-%m-%d %H:%i:%s') <= date_format(#{date}, '%Y-%m-%d %H:%i:%s')
                ]]>
        order BY createTime desc
    </select>


</mapper>