<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.InvoiceDetailRoMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, invoiceNo, invoiceCode, property, status, createTime, lastUpdate, remark,invoiceRepoId
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByPrimaryKey" resultType="com.abc12366.uc.model.invoice.InvoiceDetail" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_invoice_detail
        WHERE id = #{id}
    </select>
    <!-- 查询（根据主键ID查询） -->
    <select id="selectByInvoiceNo" resultType="com.abc12366.uc.model.invoice.InvoiceDetail" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_invoice_detail
        WHERE invoiceNo = #{invoiceNo}
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectInvoiceRepo" resultType="com.abc12366.uc.model.invoice.InvoiceDetail" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_invoice_detail
        WHERE status = #{status} and property = '2' order by (invoiceNo+0) asc,createTime asc LIMIT 1
    </select>

    <!-- 查询（根据条件查询） -->
    <select id="selectInvoiceDetailList" resultType="com.abc12366.uc.model.invoice.InvoiceDetail"
            parameterType="com.abc12366.uc.model.invoice.InvoiceDetail">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_invoice_detail
        <where>
            1 = 1
            <if test=" invoiceRepoId != null and invoiceRepoId != '' ">
                and invoiceRepoId = #{invoiceRepoId}
            </if>
            <if test=" invoiceNo != null and invoiceNo != '' ">
                and invoiceNo = #{invoiceNo}
            </if>
            <if test=" invoiceCode != null and invoiceCode != '' ">
                and invoiceCode = #{invoiceCode}
            </if>
            <if test=" status != null and status != '' ">
                and status = #{status}
            </if>
        </where>
    </select>

    <!-- 查询（根据InvoiceNo，status条件查询） -->
    <select id="selectInvoiceDetailListByInvoice" resultType="com.abc12366.uc.model.invoice.InvoiceDetail"
            parameterType="com.abc12366.uc.model.invoice.InvoiceDetail">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_invoice_detail
        <where>
            1 = 1
            <if test=" invoiceNo != null and invoiceNo != '' ">
                AND invoiceNo LIKE CONCAT('%',#{invoiceNo},'%')
            </if>
            <if test=" status != null and status != '' ">
                and status = #{status}
            </if>
        </where>
    </select>

    <!-- 查询（根据状态和invoiceRepoId条件查询） -->
    <select id="selectByIdAndStatus" resultType="com.abc12366.uc.model.invoice.InvoiceDetail" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_invoice_detail
        <where>
            (status = "1" OR status = "2") and invoiceRepoId = #{invoiceRepoId}
        </where>
    </select>

    <select id="selectInvoiceDetail" resultType="com.abc12366.uc.model.invoice.InvoiceDetail">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_invoice_detail
        where status = '0' and property = '1' order by (invoiceNo+0) asc,createTime asc LIMIT 1
    </select>


</mapper>