<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.InvoiceApprovalLogRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id,	useId,	approvalResult,	approvalOpinions,	approver,	approverTime
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.uc.model.invoice.InvoiceApprovalLog" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM uc_invoice_approval_log
		WHERE id = #{id}
	</select>

</mapper>