<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.InvoiceUseApplyRoMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id,	applyUser,	applyTime,	issueStatus,	examineStatus,	distributeUser,	distributeTime,	signUser,	signTime,	remark
	</sql>

    <resultMap id="invoiceUseApplyMap" type="com.abc12366.uc.model.invoice.bo.InvoiceUseApplyBO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="applyUser" property="applyUser" jdbcType="VARCHAR"/>
        <result column="applyUserName" property="applyUserName" jdbcType="VARCHAR"/>
        <result column="applyTime" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="issueStatus" property="issueStatus" jdbcType="VARCHAR"/>
        <result column="examineStatus" property="examineStatus" jdbcType="VARCHAR"/>
        <result column="distributeTime" property="distributeTime" jdbcType="TIMESTAMP"/>
        <result column="signUser" property="signUser" jdbcType="VARCHAR"/>
        <result column="signTime" property="signTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <association property="invoiceUseDetailBO" javaType="com.abc12366.uc.model.invoice.bo.InvoiceUseDetailBO">
            <id column="useId" property="useId"/>
            <result column="invoiceTypeCode" property="invoiceTypeCode" jdbcType="VARCHAR"/>
            <result column="repoNum" property="repoNum" jdbcType="INTEGER"/>
            <result column="applyNum" property="applyNum" jdbcType="INTEGER"/>
            <result column="realNum" property="realNum" jdbcType="INTEGER"/>
            <result column="detailRemark" property="remark" jdbcType="VARCHAR"/>
            <result column="fieldKey" property="fieldKey" jdbcType="VARCHAR"/>
        </association>

    </resultMap>

    <!--<resultMap id="invoiceUseDetailMap" type="com.abc12366.uc.model.invoice.bo.InvoiceUseApplyBO">
        <result column="useId" property="useId" jdbcType="VARCHAR"/>
        <result column="invoiceTypeCode" property="invoiceTypeCode" jdbcType="VARCHAR"/>
        <result column="repoNum" property="repoNum" jdbcType="INTEGER"/>
        <result column="applyNum" property="applyNum" jdbcType="INTEGER"/>
        <result column="realNum" property="realNum" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="fieldKey" property="fieldKey" jdbcType="VARCHAR"/>
    </resultMap>-->
    <!-- 查询（根据主键ID查询） -->
    <!--<select id="getInvoiceUseDetailBO" resultMap="invoiceUseDetailMap" parameterType="java.lang.String">
        SELECT
        d.useId,	d.invoiceTypeCode,	d.repoNum,	d.applyNum,d.	realNum,	d.remark,t.fieldKey
        FROM uc_invoice_use_detail d
        LEFT JOIN uc_dict t on t.id = d.invoiceTypeCode
		WHERE d.useId = #{useId}
    </select>-->

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByPrimaryKey" resultType="com.abc12366.uc.model.invoice.InvoiceUseApply"
            parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_invoice_use_apply
        WHERE id = #{id}
    </select>

    <!-- 查询（根据条件List查询） -->
    <select id="selectList" resultMap="invoiceUseApplyMap"
            parameterType="com.abc12366.uc.model.invoice.bo.InvoiceUseApplyBO">
        SELECT
        a.id,	a.applyUser,	a.applyTime,	a.issueStatus,	a.examineStatus,	a.distributeUser,
        a.distributeTime,	a.signUser,	a.signTime,	a.remark,u.nickname as applyUserName,
        d.useId as useId,	d.invoiceTypeCode,	d.repoNum,	d.applyNum,d.realNum,	d.remark as detailRemark,t.fieldKey as fieldKey
        FROM uc_invoice_use_apply a
        LEFT JOIN uc_admin u on u.id = a.applyUser
        LEFT JOIN uc_invoice_use_detail d on d.useId = a.id
        LEFT JOIN uc_dict t on t.id = d.invoiceTypeCode
        <where>
            1 = 1
            <if test=" issueStatus != null and issueStatus != '' ">
                and a.issueStatus = #{issueStatus}
            </if>
            <if test=" examineStatus != null and examineStatus != '' ">
                and a.examineStatus = #{examineStatus}
            </if>
            <if test=" applyUser != null and applyUser != '' ">
                and a.applyUser = #{applyUser}
            </if>
            <if test="startTime != null">
                <![CDATA[
              and date_format(a.applyTime, '%Y-%m-%d') >= date_format(#{startTime}, '%Y-%m-%d')

                ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[
              and date_format(a.applyTime, '%Y-%m-%d') <= date_format(#{endTime}, '%Y-%m-%d')
              ]]>
            </if>
        </where>
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectInvoiceUseApply" resultMap="invoiceUseApplyMap"
            parameterType="com.abc12366.uc.model.invoice.bo.InvoiceUseApplyBO">
        SELECT
        a.id,	a.applyUser,	a.applyTime,	a.issueStatus,	a.examineStatus,	a.distributeUser,
        a.distributeTime,	a.signUser,	a.signTime,	a.remark,u.nickname as applyUserName,
        d.useId as useId,	d.invoiceTypeCode,	d.repoNum,	d.applyNum,d.realNum,	d.remark as detailRemark,t.fieldKey as fieldKey
        FROM uc_invoice_use_apply a
        LEFT JOIN uc_admin u on u.id = a.applyUser
        LEFT JOIN uc_invoice_use_detail d on d.useId = a.id
        LEFT JOIN uc_dict t on t.id = d.invoiceTypeCode
        where a.id = #{id}
    </select>

</mapper>