<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.InvoiceRepoRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	invoiceNo,	invoiceCode,	invoiceName,	property,	status,	createTime,	lastUpdate
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.uc.model.InvoiceRepo" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM uc_invoice_repo
		 WHERE id = #{id}
	</select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByInvoiceNo" resultType="com.abc12366.uc.model.InvoiceRepo" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        FROM uc_invoice_repo
        WHERE invoiceNo = #{invoiceNo}
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectInvoiceRepo" resultType="com.abc12366.uc.model.InvoiceRepo" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        FROM uc_invoice_repo
        WHERE status = #{status} DESC invoiceNo limit 1
    </select>

    <!-- 查询列表 -->
    <select id="selectInvoiceRepoList" resultType="com.abc12366.uc.model.InvoiceRepo" parameterType="com.abc12366.uc.model.InvoiceRepo">
        SELECT
        <include refid="Base_Column_List" />
        FROM uc_invoice_repo
        <where>
            1=1
            <if test="invoiceNo != null  and invoiceNo!=''"> AND invoiceNo = #{invoiceNo}</if>
            <if test="invoiceCode != null  and invoiceCode!=''"> AND invoiceCode = #{invoiceCode}</if>
            <if test="property != null  and property!=''"> AND property = #{property}</if>
            <if test="status != null  and status!=''"> AND status = #{status}</if>
        </where>
    </select>

</mapper>