<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.InvoiceRoMapper">

    <resultMap id="invoiceBOResultMap" type="com.abc12366.uc.model.bo.OrderBO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="userId" property="userId" jdbcType="VARCHAR"/>
        <result column="invoiceId" property="invoiceId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DOUBLE"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="property" property="property" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="lastUpdate" property="lastUpdate" jdbcType="TIMESTAMP"/>
        <result column="nsrsbh" property="nsrsbh" jdbcType="VARCHAR"/>
        <result column="nsrmc" property="nsrmc" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="bank" property="bank" jdbcType="VARCHAR"/>
        <result column="addressId" property="addressId" jdbcType="VARCHAR"/>
        <result column="orderNum" property="orderNum" jdbcType="VARCHAR"/>
        <result column="compName" property="compName" jdbcType="VARCHAR"/>
        <association property="order" javaType="com.abc12366.uc.model.Order">
            <id column="id" property="id"/>
            <result column="orderId" property="orderId"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id,	userId,	invoiceId,	name,	content,	amount,	type,	property,	status,	createTime,	lastUpdate,	nsrsbh,	nsrmc,	address,	phone,	bank,	addressId,	orderNum,	compName
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectById" resultType="com.abc12366.uc.model.Invoice" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        FROM uc_invoice
        WHERE id = #{id}
    </select>


    <!-- 后台查询（根据条件查询） -->
    <select id="selectList" resultMap="invoiceBOResultMap" parameterType="com.abc12366.uc.model.bo.InvoiceBO">
        SELECT
        i.id,
        i.userId,
        i.invoiceId,
        i.name,
        i.content,
        i.amount,
        i.type,
        i.property,
        i.status,
        i.createTime,
        i.lastUpdate,
        i.nsrsbh,
        i.nsrmc,
        i.address,
        i.phone,
        i.bank,
        i.addressId,
        i.orderNum,
        i.compName
        FROM uc_invoice i
        <where>
            1 = 1
            <if test=" user.username != null and user.username != '' ">
                and u.username = #{user.username}
            </if>
            <if test=" user.phone != null and user.phone != '' ">
                and u.phone = #{user.phone}
            </if>
            <if test=" product.name != null and product.name != '' ">
                and p.name = #{product.name}
            </if>
            <if test=" product.category != null and product.category != '' ">
                and p.category = #{product.category}
            </if>
            <if test="startTime != null">
                <![CDATA[
              and date_format(o.createTime, 'YYYY-MM-DD') >= date_format(#{startTime}, 'YYYY-MM-DD')

                ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[
              and date_format(o.createTime, 'YYYY-MM-DD') <= date_format(#{endTime}, 'YYYY-MM-DD')
              ]]>
            </if>
        </where>

        order by o.lastUpdate desc

    </select>

</mapper>