<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.OrderRoMapper">

    <resultMap id="orderBOResultMap" type="com.abc12366.uc.model.bo.OrderBO">
        <id column="orderNo" property="orderNo" jdbcType="VARCHAR"/>
        <result column="userId" property="userId" jdbcType="VARCHAR"/>
        <result column="goodsId" property="goodsId" jdbcType="VARCHAR"/>
        <result column="dealPrice" property="dealPrice" jdbcType="DOUBLE"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="orderStatus" property="orderStatus" jdbcType="VARCHAR"/>
        <result column="payStatus" property="payStatus" jdbcType="VARCHAR"/>
        <result column="deliveryMethod" property="deliveryMethod" jdbcType="VARCHAR"/>
        <result column="payMethod" property="payMethod" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="lastUpdate" property="lastUpdate" jdbcType="TIMESTAMP"/>
        <result column="feedback" property="feedback" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="dictId" property="dictId" jdbcType="VARCHAR"/>
        <result column="uvipLevel" property="uvipLevel" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="categoryId" property="categoryId" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <association property="user" javaType="com.abc12366.uc.model.User">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="phone" property="phone"/>
        </association>
        <association property="goodsBO" javaType="com.abc12366.uc.model.bo.GoodsBO">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

	<!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		 id,	orderNo,	userId,	orderStatus,	deliveryMethod,	payMethod,	vipLevel,	createTime,	lastUpdate,	username,	isShipping,	isFreeShipping,	deliveryFee,	isInsured,	insuredFee,	totalPrice,	addressId,	expressNo,	remark
	</sql>


	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.uc.model.Order" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM uc_order
        WHERE orderNo = #{orderNo}
	</select>

    <!-- 查询（根据主键ID和UserId查询） -->
    <select id="selectOrder" resultMap="orderBOResultMap" parameterType="com.abc12366.uc.model.Order">
        SELECT
        o.orderNo,	o.userId,	o.goodsId,	o.dealPrice,	o.num,	o.orderStatus,	o.payStatus,	o.deliveryMethod,	o.payMethod,	o.createTime,	o.lastUpdate,	o.feedback,	o.name,
        o.dictId,	o.uvipLevel,	o.unit,	o.categoryId,	o.category,
        u.username,
        u.phone
        FROM uc_order o
        LEFT JOIN uc_user u ON u.id = o.userId
        WHERE o.orderNo = #{orderNo} and o.userId = #{userId}
    </select>

    <!-- 后台查询（根据条件查询） -->
    <select id="selectList" resultMap="orderBOResultMap" parameterType="com.abc12366.uc.model.bo.OrderBO">
        SELECT
        o.orderNo,	o.userId,	o.goodsId,	o.dealPrice,	o.num,	o.orderStatus,	o.payStatus,	o.deliveryMethod,	o.payMethod,	o.createTime,	o.lastUpdate,	o.feedback,	o.name,
        o.dictId,	o.uvipLevel,	o.unit,	o.categoryId,	o.category,
        u.username,
        u.phone
        FROM uc_order o
        LEFT JOIN uc_user u ON u.id = o.userId
        <where>
            1 = 1
            <if test=" user.username != null and user.username != '' ">
                and u.username = #{user.username}
            </if>
            <if test=" user.phone != null and user.phone != '' ">
                and u.phone = #{user.phone}
            </if>
            <!--<if test=" product.name != null and product.name != '' ">
                and p.name = #{product.name}
            </if>
            <if test=" product.category != null and product.category != '' ">
                and p.category = #{product.category}
            </if>-->
           <if test="startTime != null">
                <![CDATA[
              and date_format(o.createTime, 'YYYY-MM-DD') >= date_format(#{startTime}, 'YYYY-MM-DD')

                ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[
              and date_format(o.createTime, 'YYYY-MM-DD') <= date_format(#{endTime}, 'YYYY-MM-DD')
              ]]>
            </if>
        </where>

        order by o.lastUpdate desc

    </select>

    <!-- 前台查询（根据条件查询） -->
    <select id="selectOrderList" resultMap="orderBOResultMap" parameterType="com.abc12366.uc.model.bo.OrderBO">
        SELECT
        o.orderNo,	o.userId,	o.goodsId,	o.dealPrice,	o.num,	o.orderStatus,	o.payStatus,	o.deliveryMethod,	o.payMethod,	o.createTime,	o.lastUpdate,	o.feedback,	o.name,
        o.dictId,	o.uvipLevel,	o.unit,	o.categoryId,	o.category,
        u.username,
        u.phone
        FROM uc_order o
        <where>
            1 = 1
            <if test=" user.id != null and user.id != '' ">
                and u.id = #{user.id}
            </if>
            <if test=" orderStatus != null and orderStatus != '' ">
                and o.orderStatus != #{orderStatus}
            </if>
        </where>

         order by o.lastUpdate desc

    </select>

    <!-- 前台查询（根据条件查询） -->
    <select id="selectCartList" resultMap="orderBOResultMap" parameterType="com.abc12366.uc.model.bo.OrderBO">
        SELECT
        o.orderNo,	o.userId,	o.goodsId,	o.dealPrice,	o.num,	o.orderStatus,	o.payStatus,	o.deliveryMethod,	o.payMethod,	o.createTime,	o.lastUpdate,	o.feedback,	o.name,
        o.dictId,	o.uvipLevel,	o.unit,	o.categoryId,	o.category,
        u.username,
        u.phone
        FROM uc_order o
        LEFT JOIN uc_user u ON u.id = o.userId
        <where>
            <if test=" orderStatus != null and orderStatus != '' ">
                o.orderStatus = #{orderStatus}
            </if>
        </where>

        order by o.lastUpdate desc

    </select>

</mapper>