<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.OrderInvoiceRoMapper">

    <sql id="Base_Column_List">
        id, orderNo, invoiceId, createTime, lastUpdate,status
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectById" resultType="com.abc12366.uc.model.order.OrderInvoice" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_order_invoice
        WHERE id = #{id}
    </select>

    <!-- 查询InvoiceId查找 -->
    <select id="selectByInvoiceId" resultType="com.abc12366.uc.model.order.OrderInvoice" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_order_invoice
        WHERE invoiceId = #{invoiceId}
    </select>

    <!-- 查询，根据 orderNo 查找 -->
    <select id="selectByOrderNo" resultType="com.abc12366.uc.model.order.OrderInvoice" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_order_invoice
        WHERE status = true and orderNo = #{orderNo}

    </select>

</mapper>