<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.PointsLogRoMapper">

    <select id="selectList" resultType="com.abc12366.uc.model.bo.PointsLogBO" parameterType="java.util.Map">
        select uul.id,uul.userId,uul.ruleId,uur.name,uur.code,uur.type,uul.income,uul.outgo,uul.usablePoints,uul.createTime
        from uc_upoints_log uul, uc_upoints_rule uur
        <where>
            uul.ruleId = uur.id
            <if test="name!=null">and name=#{name}</if>
            <if test="code!=null">and code=#{code}</if>
            <if test="type!=null">and type=#{type}</if>
            <if test="userId!=null">and userId=#{userId}</if>
        </where>
        ORDER BY createTime DESC
    </select>

    <select id="selectListByUser" resultType="com.abc12366.uc.model.bo.PointsLogUcBO" parameterType="java.util.Map">
        SELECT  uul.id id,
        (SELECT uur.name FROM uc_upoints_rule uur WHERE uur.id = uul.ruleId) channel,
        (SELECT uur.points FROM uc_upoints_rule uur WHERE uur.id = uul.ruleId) points,
        (SELECT SUM(uu.income)-SUM(uu.outgo) sums FROM uc_upoints_log uu WHERE uu.userId=uul.userId) sums,
        uul.createTime createTime,
        (SELECT uur.description FROM uc_upoints_rule uur WHERE uur.id = uul.ruleId) remark
        FROM uc_upoints_log uul
        <where>
            and uul.userId=#{userId}
            <if test="start!=null">and uul.createTime &gt;= #{start}</if>
            <if test="end!=null">and uul.createTime &lt; #{end}</if>
        </where>
        ORDER BY uul.createTime DESC
    </select>

</mapper>