<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.SubjectTagRoMapper">

    <select id="selectList" resultType="com.abc12366.uc.model.bo.SubjectTagBO" parameterType="java.util.HashMap">
        SELECT  id,userId,subjectId,tagId,type,createTime
        from uc_subject_tag
        where type=#{subject}
        and subjectId=#{id}
    </select>

    <select id="selectListByTagIdsAndSubjectIds" resultType="com.abc12366.uc.model.bo.SubjectTagBO" parameterType="java.util.HashMap">
        SELECT  id,userId,subjectId,tagId,type,createTime
        from uc_subject_tag
        where tagId in (#{tagIds})
        and subjectId in (#{subjectIds})
    </select>

    <select id="selectExist" resultType="com.abc12366.uc.model.bo.SubjectTagBO" parameterType="java.util.HashMap">
        SELECT  id,userId,subjectId,tagId,type,createTime
        from uc_subject_tag
        where tagId=#{tagId}
        and subjectId=#{subjectId}
    </select>

</mapper>