<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.SysTaskRoMapper">

    <select id="selectList" resultType="com.abc12366.uc.model.bo.SysTaskBO" parameterType="java.util.Map">
        SELECT id,name,startTime,endTime,rule,points,type,status,createTime,lastUpdate,imageUrl,ruleName,ruleCode
        from uc_sys_task
        <where>
            <if test="name!=null">
                name=#{name}
            </if>
            <if test="type!=null">
                and type=#{type}
            </if>
        </where>
        ORDER BY lastUpdate DESC
    </select>

    <select id="selectDeployedList" resultType="com.abc12366.uc.model.bo.SysTaskBO" parameterType="java.util.Map">
        SELECT id,name,startTime,endTime,rule,points,type,status,createTime,lastUpdate,imageUrl,ruleName,ruleCode
        from uc_sys_task
        <where>
            status=1
            <if test="name!=null">
                and name=#{name}
            </if>
            <if test="type!=null">
                and type=#{type}
            </if>
        </where>
        ORDER BY lastUpdate DESC
    </select>

    <select id="selectOne" resultType="com.abc12366.uc.model.bo.SysTaskBO" parameterType="java.lang.String">
        SELECT id,name,startTime,endTime,rule,points,type,status,createTime,lastUpdate,imageUrl,ruleName,ruleCode
        from uc_sys_task
        where id = #{id}
    </select>
</mapper>