<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.TagRoMapper">

    <select id="selectList" resultType="com.abc12366.uc.model.bo.TagBO"
            parameterType="com.abc12366.uc.model.bo.TagSelectParamBO">
        SELECT id,tagName,status,createTime,lastUpdate,category,description,rule,(SELECT COUNT(1) FROM uc_subject_tag us
        WHERE us.tagId=ut.id) tagedCount,weight
        from uc_tag ut
        <where>
            <if test="tagName!=null">
                tagName=#{tagName}
            </if>
            <if test="category!=null">
                and category=#{category}
            </if>
        </where>
        ORDER BY category ASC
    </select>
    <select id="selectListByUserId" resultType="com.abc12366.uc.model.bo.TagBO" parameterType="java.lang.String">
        SELECT  ut.id,ut.tagName,ut.status,ut.createTime,ut.lastUpdate,ut.category,ut.description,ut.rule,ut.weight
        from uc_tag ut,uc_subject_tag ust
        where ut.id=ust.tagId
        and ust.subjectId=#{userId}
        ORDER BY lastUpdate DESC
    </select>

    <select id="selectOne" resultType="com.abc12366.uc.model.bo.TagBO" parameterType="java.lang.String">
        SELECT  id,tagName,status,createTime,lastUpdate,category,description,rule,(SELECT COUNT(1) FROM uc_subject_tag us WHERE us.tagId=ut.id) tagedCount,weight
        from uc_tag ut
        where ut.id=#{id}
    </select>

</mapper>