<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.TokenRoMapper">
    <select id="selectOne" resultType="com.abc12366.uc.model.Token">
        select id, appId, userId, token, lastTokenResetTime
        from uc_token
        where userId = #{userId}
        and appId = #{appId}
    </select>

    <select id="isAuthentication" resultType="com.abc12366.uc.model.Token" parameterType="java.lang.String">
        select id, appId, userId, token, lastTokenResetTime
        from uc_token
        where token = #{token}
    </select>

</mapper>