<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.UserRoMapper">

    <select id="selectList" resultType="com.abc12366.uc.model.User">
        select id, username, phone, password, regMail, userPicturePath, regIP, salt, realName, status, createTime,
        lastUpdate
        from uc_user
    </select>

    <select id="selectOne" resultType="com.abc12366.uc.model.User">
        select id, username, phone, password, regMail, userPicturePath, regIP, salt, realName, status, createTime,
        lastUpdate
        from uc_user
        where id = #{id}
    </select>

    <select id="selectByUsernameOrPhone" resultType="com.abc12366.uc.model.User">
        select id, username, phone, password, regMail, userPicturePath, regIP, salt, realName, status, createTime,
        lastUpdate
        from uc_user
        where username = #{username}
        or phone = #{phone}
    </select>

</mapper>