<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.UserRoMapper">

    <select id="selectListExcludedId" resultType="com.abc12366.uc.model.bo.UserBO" parameterType="java.lang.String">
        select uu.id, uu.username, insert(uu.phone, 4, 4, '****') phone, uu.regMail, uu.regIP, uu.salt, uu.nickname,
        uu.status,
        uu.createTime, uu.lastUpdate,
        uu.userPicturePath, uu.maxUserPicturePath, uu.midUserPicturePath, uu.minUserPicturePath, uu.points, uu.exp,
        uu.vipLevel,usernameModifiedTimes,vipExpireDate,uu.wxopenid,uu.wxheadimg,uu.wxnickname 
        from uc_user uu
        where uu.id != #{id}
    </select>
    
    <select id="selectByopenid" resultType="com.abc12366.uc.model.bo.UserBO" parameterType="java.lang.String">
        select uu.id, uu.username, insert(uu.phone, 4, 4, '****') phone, uu.regMail, uu.regIP, uu.salt, uu.nickname, uu.status,
        uu.createTime, uu.lastUpdate,
        uu.userPicturePath, uu.maxUserPicturePath, uu.midUserPicturePath, uu.minUserPicturePath, uu.points, uu.exp,
        uu.vipLevel,usernameModifiedTimes,vipExpireDate,uu.wxopenid,uu.wxheadimg,uu.wxnickname,
        (select uul.level from uc_uvip_level uul where uul.levelCode = uu.vipLevel limit 1) vipLevelName,
        IFNULL(
        (SELECT uul.medal FROM uc_uexp_level uul WHERE uul.status='1' AND uu.exp &gt;= uul.minValue AND uu.exp &lt;= uul.maxValue LIMIT 1),
        (SELECT uul.medal FROM uc_uexp_level uul WHERE uul.status='1' AND uul.minValue &gt;=(SELECT MAX(uull.minValue) FROM uc_uexp_level uull WHERE uull.status='1' LIMIT 1) AND uul.minValue &lt;=uu.exp)
        ) levelName
        from uc_user uu
        where uu.wxopenid = #{wxopenid}
    </select>

    <!--
    <select id="selectList" resultType="com.abc12366.uc.model.bo.UserListBO" parameterType="java.util.Map">
        select * from 
        (select uu.id, uu.username, uu.phone, uu.regMail, uu.regIP, uu.salt, uu.nickname,
        uu.status,
        uu.createTime, uu.lastUpdate,
        uu.userPicturePath, uu.maxUserPicturePath, uu.midUserPicturePath, uu.minUserPicturePath, uu.points, uu.exp,
        uu.vipLevel,uu.usernameModifiedTimes,uu.vipExpireDate,
        uue.realName, uul.name levelName, uul.medalIcon, uul.medal
        from uc_user uu LEFT JOIN uc_user_extend uue on uu.id = uue.userId
        LEFT JOIN uc_uexp_level uul
        on uu.exp BETWEEN uul.minValue and uul.maxValue and uul.status = '1') u
        <where>
            <if test="username != null and username != ''">
                username=#{username}
            </if>
            <if test="phone != null and phone != ''">
                and phone=#{phone}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname=#{nickname}
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="medal != null and medal != ''">
                and medal=#{medal}
            </if>
            <if test="vipLevel != null and vipLevel != null">
                and vipLevel=#{vipLevel}
            </if>
            <if test="exp!=null">
                and exp >= #{exp}
            </if>
            <if test="points!=null">
                and points >= #{points}
            </if>
            <if test="realName !=null and realName != ''">
                and realName=#{realName}
            </if>
            <if test="createTime !=null and createTime != ''">
                and createTime >= #{createTime}
            </if>
            <if test="tagId != null and tagIdCount > 0">
                and u.id in
                (SELECT a.subjectId FROM
                <foreach item="item" collection="tagId" separator="union all" open="(" close=")" index="">
                    SELECT subjectId FROM uc_subject_tag ust WHERE ut.tagId=#{item}
                </foreach>
                a group by a.subjectId HAVING COUNT(subjectId) >= #{tagIdCount})
            </if>
        </where>
    </select>
    -->
    <select id="selectUserById" resultType="com.abc12366.uc.model.User" parameterType="com.abc12366.uc.model.User">
        SELECT id, username, phone, password, regMail, regIP, salt, nickname, status, createTime,
          lastUpdate, userPicturePath, maxUserPicturePath, midUserPicturePath, minUserPicturePath,
          points, exp, vipLevel, usernameModifiedTimes, vipExpireDate, wxopenid, wxheadimg, wxnickname, bdqudao, oldId
        FROM uc_user
        <where>
            <if test="id != null and id != ''">
                id=#{id}
            </if>
            <if test="wxopenid != null and wxopenid != ''">
                wxopenid=#{wxopenid}
            </if>
        </where>
    </select>

    <select id="selectList" resultType="com.abc12366.uc.model.bo.UserListBO" parameterType="java.util.Map">
        SELECT id, username, phone, nickname, status, createTime, lastUpdate, points, exp, vipLevel, wxnickname
        FROM uc_user
        <where>
            <if test="id != null and id != ''">
                id=#{id}
            </if>
            <if test="username != null and username != ''">
                and username=#{username}
            </if>
            <if test="phone != null and phone != ''">
                and phone=#{phone}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname=#{nickname}
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="vipLevel != null and vipLevel != ''">
                and vipLevel=#{vipLevel}
            </if>
            <if test="exp!=null and exp != ''">
                and exp >= #{exp}
            </if>
            <if test="points!=null and points != ''">
                and points >= #{points}
            </if>
            <if test="createTime !=null and createTime != ''">
                and createTime >= #{createTime}
            </if>
        </where>
    </select>

    <select id="selectOne" resultType="com.abc12366.uc.model.User" parameterType="java.lang.String">
       select uu.id, uu.username, uu.password, uu.phone, uu.regMail, uu.regIP, uu.salt, uu.nickname, uu.status,
        uu.createTime, uu.lastUpdate,uu.userPicturePath, uu.maxUserPicturePath, uu.midUserPicturePath,
        uu.minUserPicturePath, uu.points, uu.exp,uu.vipLevel,uu.usernameModifiedTimes,uu.vipExpireDate,
        uu.wxopenid,uu.wxheadimg,uu.wxnickname, uu.oldId,
        (select uul.level from uc_uvip_level uul where uul.levelCode = uu.vipLevel limit 1) vipLevelName,
        IFNULL(
        (SELECT uul.name FROM uc_uexp_level uul WHERE uul.status='1' AND uu.exp &gt;= uul.minValue AND uu.exp &lt;= uul.maxValue LIMIT 1),
        (SELECT uul.name FROM uc_uexp_level uul WHERE uul.status='1' AND uul.minValue &gt;= (SELECT MAX(uull.minValue) FROM uc_uexp_level uull WHERE uull.status='1' LIMIT 1) AND uul.minValue &lt;=uu.exp)
        ) level,
        IFNULL(
        (SELECT uul.medal FROM uc_uexp_level uul WHERE uul.status='1' AND uu.exp &gt;= uul.minValue AND uu.exp &lt;= uul.maxValue LIMIT 1),
        (SELECT uul.medal FROM uc_uexp_level uul WHERE uul.status='1' AND uul.minValue &gt;=(SELECT MAX(uull.minValue) FROM uc_uexp_level uull WHERE uull.status='1' LIMIT 1) AND uul.minValue &lt;=uu.exp)
        ) levelName
        from uc_user uu
        where uu.id = #{id}
    </select>

    <select id="selectByUsernameOrPhone" resultType="com.abc12366.uc.model.User"
            parameterType="com.abc12366.uc.model.bo.LoginBO">
        select uu.id, uu.username, uu.password, uu.phone, uu.regMail, uu.regIP, uu.salt, uu.nickname, uu.status,
        uu.createTime, uu.lastUpdate,uu.userPicturePath, uu.maxUserPicturePath, uu.midUserPicturePath,
        uu.minUserPicturePath, uu.points, uu.exp,uu.vipLevel,uu.usernameModifiedTimes,uu.vipExpireDate,
        uu.wxopenid,uu.wxheadimg,uu.wxnickname,uu.oldId,
        (select uul.level from uc_uvip_level uul where uul.levelCode = uu.vipLevel limit 1) vipLevelName,
        IFNULL(
        (SELECT uul.name FROM uc_uexp_level uul WHERE uul.status='1' AND uu.exp &gt;= uul.minValue AND uu.exp &lt;= uul.maxValue LIMIT 1),
        (SELECT uul.name FROM uc_uexp_level uul WHERE uul.status='1' AND uul.minValue &gt;= (SELECT MAX(uull.minValue) FROM uc_uexp_level uull WHERE uull.status='1' LIMIT 1) AND uul.minValue &lt;=uu.exp)
        ) level,
        IFNULL(
        (SELECT uul.medal FROM uc_uexp_level uul WHERE uul.status='1' AND uu.exp &gt;= uul.minValue AND uu.exp &lt;= uul.maxValue LIMIT 1),
        (SELECT uul.medal FROM uc_uexp_level uul WHERE uul.status='1' AND uul.minValue &gt;=(SELECT MAX(uull.minValue) FROM uc_uexp_level uull WHERE uull.status='1' LIMIT 1) AND uul.minValue &lt;=uu.exp)
        ) levelName
        from uc_user uu
        <where>
            <if test="usernameOrPhone != null">
                uu.username = #{usernameOrPhone}
            </if>
            <if test="usernameOrPhone != null">
                OR uu.phone = #{usernameOrPhone}
            </if>
        </where>
    </select>
    <select id="selectOneByToken" resultType="com.abc12366.uc.model.bo.UserBO" parameterType="java.lang.String">
        select uu.id, uu.username, uu.phone, uu.regMail, uu.regIP, uu.salt, uu.nickname, uu.status, uu.createTime,
        uu.lastUpdate,
        uu.userPicturePath, uu.maxUserPicturePath, uu.midUserPicturePath, uu.minUserPicturePath, uu.points, uu.exp,
        uu.vipLevel,uu.usernameModifiedTimes,uu.vipExpireDate,
        uu.wxopenid,uu.wxheadimg,uu.wxnickname,
        (select uul.level from uc_uvip_level uul where uul.levelCode = uu.vipLevel limit 1) vipLevelName,
        IFNULL(
        (SELECT uul.name FROM uc_uexp_level uul WHERE uul.status='1' AND uu.exp &gt;= uul.minValue AND uu.exp &lt;= uul.maxValue LIMIT 1),
        (SELECT uul.name FROM uc_uexp_level uul WHERE uul.status='1' AND uul.minValue &gt;= (SELECT MAX(uull.minValue) FROM uc_uexp_level uull WHERE uull.status='1' LIMIT 1) AND uul.minValue &lt;=uu.exp)
        ) level,
        IFNULL(
        (SELECT uul.medal FROM uc_uexp_level uul WHERE uul.status='1' AND uu.exp &gt;= uul.minValue AND uu.exp &lt;= uul.maxValue LIMIT 1),
        (SELECT uul.medal FROM uc_uexp_level uul WHERE uul.status='1' AND uul.minValue &gt;=(SELECT MAX(uull.minValue) FROM uc_uexp_level uull WHERE uull.status='1' LIMIT 1) AND uul.minValue &lt;=uu.exp)
        ) levelName
        from uc_user uu, uc_token ut
        where uu.id=ut.userId
        and ut.token=#{userToken}
    </select>

    <select id="selectValidOne" resultType="com.abc12366.uc.model.User" parameterType="java.lang.String">
        select uu.id, uu.username, uu.password, insert(uu.phone, 4, 4, '****') phone, uu.regMail, uu.regIP, uu.salt, uu.nickname, uu.status,
        uu.createTime, uu.lastUpdate,uu.userPicturePath, uu.maxUserPicturePath, uu.midUserPicturePath,
        uu.minUserPicturePath, uu.points, uu.exp,uu.vipLevel,uu.usernameModifiedTimes,uu.vipExpireDate,
        uu.wxopenid,uu.wxheadimg,uu.wxnickname
        from uc_user uu
        where uu.id = #{id}
        and status=1
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectUserVipList" resultType="com.abc12366.uc.model.User" parameterType="java.util.Date">
        select id
        from uc_user
        WHERE status = true
        <![CDATA[
                and date_format(vipExpireDate, '%Y-%m-%d %H:%i:%s') <= date_format(#{date}, '%Y-%m-%d %H:%i:%s')
                ]]>
    </select>

    <select id="selectContinuePwdWrong" resultType="com.abc12366.uc.model.UserLoginPasswordWrongCount" parameterType="java.lang.String">
        select id, userId, count, limitTime
        from uc_login_password_wrong_count
        where userId = #{userId}
    </select>

    <select id="selectSimple" parameterType="java.lang.String" resultType="com.abc12366.uc.model.bo.UserSimpleInfoBO">
        select uu.id, uu.nickName, uu.userPicturePath, uue.tags, uue.signature, uue.education,
         uue.graduate, uue.occupation, uue.income, uue.careerDuration
        from uc_user uu
        left join uc_user_extend uue
        on uue.userId = uu.id
        where uu.id = #{userId}
    </select>
    
    <select id="getAllNomalCont" resultType="java.lang.Integer">
        select count(id) from uc_user where status = true
    </select>
    
    
    <select id="getNomalList" resultType="com.abc12366.uc.model.bo.UserBO" parameterType="java.util.Map">
        SELECT u.id,u.wxopenid,u.phone,u.vipLevel,u.vipExpireDate,l.level as vipLevelName FROM uc_user u, uc_uvip_level l where u.status = true and l.status = true and u.vipLevel=l.levelCode ORDER BY vipLevel DESC LIMIT #{begin},#{size};
    </select>
    
    <select id="selectByWxUserId" resultType="com.abc12366.uc.model.User" parameterType="com.abc12366.uc.model.User">
        SELECT * FROM uc_user where id=#{id} and wxopenid=#{wxopenid}
    </select>
    
    <select id="findByHngsNsrsbh" resultType="com.abc12366.uc.model.User" parameterType="java.lang.String">
        SELECT u.* FROM  uc_user_hngs h, uc_user u where h.userId=u.id and h.nsrsbh=#{nsrshb}
    </select>

    <select id="selectOneByPhone" resultType="com.abc12366.uc.model.bo.UserBO"
            parameterType="java.lang.String">
        select uu.id, uu.username, insert(uu.phone, 4, 4, '****') phone, uu.regMail, uu.regIP, uu.salt, uu.nickname, uu.status,
        uu.createTime, uu.lastUpdate,uu.userPicturePath, uu.maxUserPicturePath, uu.midUserPicturePath,
        uu.minUserPicturePath, uu.points, uu.exp,uu.vipLevel,uu.usernameModifiedTimes,uu.vipExpireDate,
        uu.wxopenid,uu.wxheadimg,uu.wxnickname,uu.oldId
        from uc_user uu
        where phone=#{phone}
    </select>

    <select id="statisUserByMonth" resultType="com.abc12366.uc.model.bo.UserStatisBO" parameterType="java.util.Map">
        select DATE_FORMAT(createTime,'%Y-%m') months ,count(id) count from uc_user
        <where>
            <if test="startTime != null">
                <![CDATA[
              and date_format(createTime, '%Y-%m-%d') >= date_format(#{startTime}, '%Y-%m-%d')

                ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[
              and date_format(createTime, '%Y-%m-%d') <= date_format(#{endTime}, '%Y-%m-%d')
              ]]>
            </if>
        </where>
        GROUP BY months
    </select>

    <select id="statisUserByDay" resultType="com.abc12366.uc.model.bo.UserStatisBO" parameterType="java.util.Map">
        select DATE_FORMAT(createTime,'%Y-%m-%d') days ,count(id) count from uc_user
        <where>
            <if test="startTime != null">
                <![CDATA[
              and date_format(createTime, '%Y-%m-%d %h:%i:%s') >= date_format(#{startTime}, '%Y-%m-%d %h:%i:%s')

                ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[
              and date_format(createTime, '%Y-%m-%d %h:%i:%s') <= date_format(#{endTime}, '%Y-%m-%d %h:%i:%s')
              ]]>
            </if>
        </where>
        GROUP BY days
    </select>

    <select id="statisUserList" resultType="com.abc12366.uc.model.bo.UserSimpleInfoBO" parameterType="java.util.Map">
        select u.id, u.nickName, u.userPicturePath, e.tags, e.signature, e.education,
        e.graduate, e.occupation, e.income, e.careerDuration
        from uc_user u
        left join uc_user_extend e on e.userId = u.id
        <where>
            <if test="startTime != null">
                <![CDATA[
              and date_format(u.createTime, '%Y-%m-%d') >= date_format(#{startTime}, '%Y-%m-%d')

                ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[
              and date_format(u.createTime, '%Y-%m-%d') <= date_format(#{endTime}, '%Y-%m-%d')
              ]]>
            </if>
        </where>
    </select>
</mapper>
