<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.UserStatisRoMapper">
    <select id="tagCountUsers" resultType="com.abc12366.uc.model.User" parameterType="java.lang.Object">
        SELECT a.id, a.username, insert(a.phone, 4, 4, '****') phone, a.regMail, a.regIP, a.salt, a.nickname,
                a.status,a.createTime, a.lastUpdate,a.userPicturePath, a.maxUserPicturePath, a.midUserPicturePath,
                a.minUserPicturePath, a.points, a.exp,a.vipLevel,usernameModifiedTimes,vipExpireDate,a.wxopenid,
                a.wxheadimg,a.wxnickname
        FROM uc_user a JOIN uc_subject_tag b JOIN uc_tag c ON a.id=b.subjectId AND b.tagId=c.id
        WHERE a.createTime &gt;=#{start} and a.createTime &lt; #{end}
        AND  c.tagName = #{tagName}
    </select>

    <select id="regionCountry" parameterType="java.util.Date" resultType="com.abc12366.uc.model.bo.RigionStatisBO">
        SELECT concat(#{start},'～',#{end}) timeInterval,b.province regionName,a.province regionCode, COUNT(a.province) allCount
        FROM uc_user_extend a JOIN uc_user c ON c.id=a.userId JOIN uc_province b ON a.province=b.provinceId
        <where>
            <if test="start != null">and c.createTime &gt;=#{start}</if>
            <if test="end != null">and c.createTime &lt;=#{end} </if>
        </where>
        GROUP BY a.province
    </select>

    <select id="regionProvince" parameterType="java.lang.Object" resultType="com.abc12366.uc.model.bo.RigionStatisBO">
        SELECT concat(#{start},'～',#{end}) timeInterval,b.city regionName,a.city regionCode, COUNT(a.city) allCount
        FROM uc_user_extend a JOIN uc_user c ON c.id=a.userId JOIN uc_city b ON a.city=b.cityId JOIN uc_province d ON d.provinceId = b.provinceId
        <where>
            <if test="start != null">and c.createTime &gt;=#{start}</if>
            <if test="end != null">and c.createTime &lt;=#{end} </if>
            <if test="province != null">and d.province=#{province} </if>
        </where>
        GROUP BY a.city
    </select>

    <select id="regionProvinceUinfo" parameterType="java.lang.Object" resultType="com.abc12366.uc.model.User">
        select c.id, c.username, insert(c.phone, 4, 4, '****') phone, c.regMail, c.regIP, c.salt, c.nickname,
        c.status,c.createTime, c.lastUpdate,c.userPicturePath, c.maxUserPicturePath, c.midUserPicturePath,
        c.minUserPicturePath, c.points, c.exp,c.vipLevel,c.usernameModifiedTimes,c.vipExpireDate,c.wxopenid,
        c.wxheadimg,c.wxnickname
        FROM uc_user_extend a JOIN uc_user c ON c.id=a.userId JOIN uc_province b ON a.province=b.provinceId
        <where>
            <if test="start != null">and c.createTime &gt;=#{start}</if>
            <if test="end != null">and c.createTime &lt;=#{end} </if>
            <if test="province != null">and b.province=#{province} </if>
        </where>
    </select>

    <select id="regionCityUinfo" parameterType="java.lang.Object" resultType="com.abc12366.uc.model.User">
        select c.id, c.username, insert(c.phone, 4, 4, '****') phone, c.regMail, c.regIP, c.salt, c.nickname,
        c.status,c.createTime, c.lastUpdate,c.userPicturePath, c.maxUserPicturePath, c.midUserPicturePath,
        c.minUserPicturePath, c.points, c.exp,c.vipLevel,c.usernameModifiedTimes,c.vipExpireDate,c.wxopenid,
        c.wxheadimg,c.wxnickname
        FROM uc_user_extend a JOIN uc_user c ON c.id=a.userId JOIN uc_city b ON a.city=b.cityId
        <where>
            <if test="start != null">and c.createTime &gt;=#{start}</if>
            <if test="end != null">and c.createTime &lt;=#{end} </if>
            <if test="city != null">and b.city=#{city} </if>
        </where>
    </select>

    <select id="bindDzsb" parameterType="java.util.Date" resultType="java.lang.Integer">
        SELECT count(1) FROM uc_user_dzsb
                  WHERE STATUS='1'
                  AND createTime &gt;= #{start}
                  and createTime &lt; #{end}
    </select>

    <select id="bindHngs" parameterType="java.util.Date" resultType="java.lang.Integer">
        SELECT count(1) FROM uc_user_hngs
        WHERE STATUS='1'
        AND createTime &gt;= #{start}
        and createTime &lt; #{end}
    </select>

    <select id="bindHnds" parameterType="java.util.Date" resultType="java.lang.Integer">
        SELECT count(1) FROM uc_user_hnds
        WHERE STATUS='1'
        AND createTime &gt;= #{start}
        and createTime &lt; #{end}
    </select>

    <select id="bindDzsbInfo" parameterType="java.util.Date" resultType="com.abc12366.uc.model.bo.BindCountInfo">
        SELECT nsrsbh,nsrmc,swjgdm,swjgmc FROM uc_user_dzsb
        <where>
            STATUS='1'
            <if test="start != null">AND createTime &gt;= #{start}</if>
            <if test="end != null">and createTime &lt; #{end}</if>
        </where>
    </select>

    <select id="bindHngsInfo" parameterType="java.util.Date" resultType="com.abc12366.uc.model.bo.BindCountInfo">
        SELECT nsrsbh,nsrmc,swjgdm,swjgmc FROM uc_user_hngs
        <where>
            STATUS='1'
            <if test="start != null">AND createTime &gt;= #{start}</if>
            <if test="end != null">and createTime &lt; #{end}</if>
        </where>
    </select>
    <select id="bindHndsInfo" parameterType="java.util.Date" resultType="com.abc12366.uc.model.bo.BindCountInfo">
        SELECT nsrsbh,nsrmc,swjgdm,swjgmc FROM uc_user_hnds
        <where>
            STATUS='1'
            <if test="start != null">AND createTime &gt;= #{start}</if>
            <if test="end != null">and createTime &lt; #{end}</if>
        </where>
    </select>
</mapper>