<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.UserExtendRoMapper">

    <select id="selectOne" resultType="com.abc12366.uc.model.UserExtend">
        select id, userId, signature, nickname,sex,rthday,bloodType,weight,height,marital,education,graduate,occupation,income,postAddres,realName,experence,weixin,qq,safeQuestion,safeAnswer,province,city,area,ceateTime,lastUpdate
        from uc_user_extend        
        where userId = #{userId}
    </select>

</mapper>