<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.UserExtendRoMapper">

    <select id="selectOne" resultType="com.abc12366.uc.model.UserExtend">
        select userId,signature,sex,birthday,bloodType,weight,height,marital, education,graduate,
        occupation,income,postAddress,insert(realName, 1, 1, '*') realName, weixin,qq,safeQuestion,safeAnswer,province,city,area,createTime,
        lastUpdate,tags,insert(idcard, 7, 8, '******') idcard,
        frontImage,backImage,startTime,endTime,validStatus,validTime,remark,careerDuration
        from uc_user_extend
        where userId = #{userId}
    </select>

    <select id="selectList" resultType="com.abc12366.uc.model.bo.UserExtendListBO" parameterType="java.util.Map">
        select uu.username,uu.nickname,insert(uu.phone, 4, 4, '****') phone,uu.status,
        uue.userId,uue.signature,uue.sex,uue.birthday,uue.bloodType,uue.weight,uue.height,uue.marital,
        uue.education,uue.graduate, uue.occupation,uue.income,uue.postAddress,insert(uue.realName, 1, 1, '*') realName,
        uue.weixin,uue.qq,uue.safeQuestion,
        uue.safeAnswer,uue.province,uue.city,uue.area,uue.createTime,
        uue.lastUpdate,uue.tags,insert(uue.idcard, 7, 8, '******') idcard,uue.frontImage,uue.backImage,
        uue.startTime,uue.endTime,uue.validStatus,uue.validTime,uue.remark,uue.careerDuration
        from uc_user_extend uue, uc_user uu
        <where>
            uue.userId=uu.id
            <if test="username!=null">
                and uu.username like CONCAT('%',#{username},'%')
            </if>
            <if test="status!=null">
                and uu.status = #{status}
            </if>
            <if test="phone!=null">
                and uu.phone = insert(#{phone}, 4, 4, '****')
            </if>
            <if test="realName!=null">
                and uue.realName = insert(#{realName}, 1, 1, '*')
            </if>
            <if test="validStatus!=null">
                and uue.validStatus = #{validStatus}
            </if>
        </where>
        order by lastUpdate desc

    </select>

</mapper>
