<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.UserBindRoMapper">

    <select id="userDzsbSelectById" resultType="com.abc12366.uc.model.UserDzsb">
        select id, userId, djxh, nsrsbh, nsrmc, shxydm, swjgMc, swjgDm, status, createTime, lastUpdate
        from uc_user_dzsb
        where id=#{id}
    </select>
    <select id="getUserDzsbBind" resultType="com.abc12366.uc.model.bo.UserDzsbListBO" parameterType="java.lang.String">
        select uud.id, uud.userId, uud.djxh, uud.nsrsbh, uud.nsrmc, uud.shxydm, uud.swjgMc, uud.swjgDm, uud.status,
        uud.createTime, uud.lastUpdate,
        (select distinct uul.level from uc_uvip_level uul, uc_user uu where uul.levelCode=uu.vipLevel and
        uu.id=uud.userId) userType
        from uc_user_dzsb uud
        where userId=#{userId}
        and status=1
    </select>

    <select id="userHngsSelectById" resultType="com.abc12366.uc.model.UserHngs">
        select id,userId,djxh,nsrsbh,nsrmc,shxydm,swjgMc,swjgDm,bsy,smrzzt,status,createTime,lastUpdate,roleId
        from uc_user_hngs
        where id=#{id}
    </select>

    <select id="userHngsListExist" resultType="com.abc12366.uc.model.UserHngs" parameterType="com.abc12366.uc.model.bo.UserHngsInsertBO">
        select id,userId,djxh,nsrsbh,nsrmc,shxydm,swjgMc,swjgDm,bsy,smrzzt,status,createTime,lastUpdate,roleId
        from uc_user_hngs
        where userId=#{userId}
        and (nsrsbh=#{bsy} or shxydm=#{bsy})
        and status=1
    </select>

    <select id="getUserhngsBind" resultType="com.abc12366.uc.model.bo.UserHngsListBO" parameterType="java.lang.String">
        select
        uuh.id,uuh.userId,uuh.djxh,uuh.nsrsbh,uuh.nsrmc,uuh.shxydm,uuh.swjgMc,uuh.swjgDm,uuh.bsy,uuh.smrzzt,uuh.status,uuh.createTime,uuh.lastUpdate,uuh.roleId
        from uc_user_hngs uuh
        where uuh.userId=#{userId}
        and status=1
    </select>
    <select id="userHndsSelectById" resultType="com.abc12366.uc.model.UserHnds">
        select id, userId, username, subuser, nsrmc, nsrsbh, djxh, shxydm, swjgMc, swjgDm, status, createTime,
        lastUpdate
        from uc_user_hnds
        where id=#{id}
    </select>
    <select id="getUserhndsBind" resultType="com.abc12366.uc.model.bo.UserHndsBO" parameterType="java.lang.String">
        select id, userId, username, subuser, nsrmc, nsrsbh, djxh, shxydm, swjgMc, swjgDm, status, createTime,
        lastUpdate
        from uc_user_hnds
        where userId=#{userId}
        and status=1
    </select>
    <select id="selectListByUserId" parameterType="java.lang.String" resultType="com.abc12366.uc.model.abc4000.NSRXX">
        select uud.nsrsbh nsrsbh,
                uud.shxydm shxydm,
                uud.nsrmc nsrmc,
                uud.createTime bdsj,
                uud.expireTime dqr,
                uud.swjgMc swjgmc,
                uud.swjgDm swjgdm,
                uud.expandExpireTime yqdqr
        from uc_user_dzsb uud
        where uud.userId = #{userId}
    </select>

    <select id="selectListByUserIdAndNsrsbhOrShxydm" parameterType="com.abc12366.uc.model.UserDzsb" resultType="com.abc12366.uc.model.abc4000.NSRXX">
        select uud.nsrsbh nsrsbh,
        uud.shxydm shxydm,
        uud.nsrmc nsrmc,
        uud.createTime bdsj,
        uud.expireTime dqr,
        uud.swjgMc swjgmc,
        uud.swjgDm swjgdm,
        uud.expandExpireTime yqdqr
        from uc_user_dzsb uud
        where uud.userId = #{userId}
        and uud.status = '1'
        and (nsrsbh = #{nsrsbh} OR shxydm=#{shxydm})
    </select>
</mapper>