<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.UserExtendRoMapper">

    

    
    
    <select id="canmerging" resultType="java.util.Map" parameterType="java.util.Map">
      select id,username,vipLevel,nickname FROM uc_user WHERE EXISTS (
         SELECT userId FROM uc_user_extend
         WHERE userId = uc_user.id AND validStatus = '2' AND idcard=#{idcard} AND userId!=#{userid}
      ) AND status=1  
    </select>
    
</mapper>
