<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db2.WxPersonRoMapper">

     <sql id="Base_Column_List">
         subscribe, openid, nickname, sex, language, city, province, country, headimgurl,subscribe_time,remark,groupid,unionid,lastupdate
     </sql>
     
     <select id="countPersonNum" parameterType="com.abc12366.uc.model.weixin.bo.person.WxPerson" resultType="long">
        SELECT count(openid) FROM uc_wxuser
        <where>
            <if test="openid!=null">openid=#{openid}</if>
        </where>
        
     </select>
     
     
     <select id="selectList" resultType="com.abc12366.uc.model.weixin.bo.person.WxPerson" parameterType="com.abc12366.uc.model.weixin.bo.person.WxPerson">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_wxuser
        <where>
            1 = 1
            <if test="nickname != null">and name like CONCAT('%',#{nickname},'%')</if>
            <if test="sex != null">and sex=#{sex}</if>
            <if test="province != null">and province=#{province}</if>
            <if test="city != null">and city=#{city}</if>
            <if test="groupid != null">and groupid=#{groupid}</if>
            <if test="openid!=null">and openid=#{openid}</if>
            <if test="startTime != null">
                <![CDATA[and date_format(subscribe_time, '%Y-%m-%d') >= date_format(#{startTime}, '%Y-%m-%d')]]>
            </if>
            <if test="endTime != null">
                <![CDATA[and date_format(subscribe_time, '%Y-%m-%d') <= date_format(#{endTime}, '%Y-%m-%d')]]>
            </if>
        </where>
        ORDER BY subscribe_time DESC
    </select>
    
    <select id="selectOne" resultType="com.abc12366.uc.model.weixin.bo.person.WxPerson" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_wxuser
        where openid=#{openid}
    </select>
    
</mapper>