<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.message.mapper.db2.BusinessMsgRoMapper">

    <sql id="Base_Column">
        id, userId, businessId, content, status, type, createTime, lastUpdate
    </sql>

    <select id="selectOne" resultType="com.abc12366.message.model.BusinessMessage">
        SELECT
        <include refid="Base_Column"/>
        FROM msg_business_message
        WHERE id=#{id}
    </select>

    <!-- 只查询半年内的记录 -->
    <select id="selectList" parameterType="com.abc12366.message.model.BusinessMessage"
            resultType="com.abc12366.message.model.BusinessMessage">
        SELECT
        <include refid="Base_Column"/>
        FROM msg_business_message
        WHERE userId = #{userId}
        <if test="type!=null">AND type = #{type}</if>
        AND status != '0'
        AND createTime > date_sub(now(), interval '181 0:0:0' day_second)
        ORDER BY createTime DESC
    </select>

</mapper>