<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.message.mapper.db2.MsgUcUserRoMapper">
    <select id="selectPhoneExist" resultType="com.abc12366.message.model.PhoneExist" parameterType="java.lang.String">
        select phone,username
        from msg_uc_user
        where phone = #{phone}
        or username= #{phone}
    </select>
</mapper>