<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.message.mapper.db2.UserMsgRoMapper">

    <sql id="Base_Column">
        id, fromUserId, toUserId, content, status, type, createTime, lastUpdate
    </sql>

    <select id="selectOne" resultType="com.abc12366.message.model.UserMessage">
        SELECT
        <include refid="Base_Column"/>
        FROM msg_user_message
        WHERE id=#{id}
    </select>

    <!-- 只查询半年内的记录 -->
    <select id="selectList" parameterType="com.abc12366.message.model.UserMessage"
            resultType="com.abc12366.message.model.UserMessage">
        SELECT
        <include refid="Base_Column"/>,
        (select muu.nickname from msg_uc_user muu where muu.id=mu.fromUserId) nickname
        FROM msg_user_message mu
        WHERE toUserId = #{toUserId}
        AND status != '0'
        AND createTime > date_sub(now(), interval '181 0:0:0' day_second)
        ORDER BY createTime DESC
    </select>

    <!-- 只查询半年内的记录 -->
    <select id="UserMessageForBangbang" parameterType="java.lang.String"
            resultType="com.abc12366.message.model.bo.UserMessageForBangbang">
    SELECT
    mu.id, mu.fromUserId, mu.toUserId, mu.content, mu.status, mu.type, mu.createTime, mu.lastUpdate,
    muu.nickname,muu.userPicturePath
    FROM msg_user_message mu join msg_uc_user muu on mu.fromUserId=muu.id
    WHERE mu.toUserId = #{userId}
    AND mu.status != '0'
    AND mu.createTime > date_sub(now(), interval '181 0:0:0' day_second)
    ORDER BY mu.createTime DESC
    </select>

    <select id="selectListByUsername" parameterType="java.util.Map"
            resultType="com.abc12366.message.model.bo.UserMessageAdmin">
        SELECT
        mu.id, mu.fromUserId, mu.toUserId, mu.content, mu.status, mu.type, mu.createTime, mu.lastUpdate,
        u1.username fromuser,u1.userPicturePath fromUserPic,u2.username touser,u2.userPicturePath toUserPic
        FROM msg_user_message mu join msg_uc_user u1 on mu.fromUserId=u1.id join msg_uc_user u2 on mu.toUserId=u2.id
        WHERE 1=1
        <if test="fromuser!=null and fromuser!=''">AND u1.username = #{fromuser}</if>
        <if test="touser!=null and touser!=''">AND u2.username = #{touser}</if>
        <if test="status!=null and status!=''">AND mu.status = #{status}</if>
        <if test="startDate!=null">and <![CDATA[  mu.createTime >= #{startDate}]]></if>
        <if test="endDate!=null">and <![CDATA[  mu.createTime < #{endDate}]]></if>
        ORDER BY mu.createTime DESC
    </select>

    <!-- 只查询半年内的记录 -->
    <select id="unreadCount" parameterType="com.abc12366.message.model.UserMessage"
            resultType="java.lang.Integer">
        SELECT count(*)
        FROM msg_user_message
        WHERE toUserId = #{userId}
        <if test="type != null and type != ''">AND type = #{type}</if>
        AND status = '1'
        AND createTime > date_sub(now(), interval '181 0:0:0' day_second)
    </select>
</mapper>