<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.CurriculumLabelRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 curriculumId,	labelId
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.bangbang.model.curriculum.CurriculumLabel" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM bb_curriculum_label
		 WHERE curriculumId = #{curriculumId}
	</select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectList" resultType="com.abc12366.bangbang.model.curriculum.CurriculumLabel" parameterType="java.lang.String">
        SELECT
            l.curriculumId,	l.labelId,t.name labelName
        FROM bb_curriculum_label l JOIN bb_knowledge_tag t ON l.labelId = t.id
        WHERE curriculumId = #{curriculumId}
    </select>


    <!-- 查询（根据主键ID查询） -->
    <select id="selectLabelList" resultType="com.abc12366.bangbang.model.curriculum.bo.CurriculumLabelBo" parameterType="java.lang.String">
        select a.labelId,b.name labelName from (SELECT labelId FROM bb_curriculum_label group by labelId) a left join bb_knowledge_tag b on a.labelId = b.id
    </select>


</mapper>