<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.CurriculumCoursewareRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 coursewareId,	curriculumId,isFree,	chapterId,type,	title,	uploadWay,	link,	fileName,	fileSite,	fileSize,	duration,	isDownload,coursewareSeq,createrId,createrName,	createTime,	updateTime
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.bangbang.model.curriculum.CurriculumCourseware" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM bb_curriculum_courseware
		 WHERE coursewareId = #{coursewareId}
	</select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectList" resultType="com.abc12366.bangbang.model.curriculum.bo.CurriculumCoursewareBo" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List" />
        FROM bb_curriculum_courseware
        WHERE 1=1
        <if test="curriculumId != null and curriculumId != ''">
            AND curriculumId = #{curriculumId}
        </if>
        <if test="chapterId != null and chapterId != ''">
            AND chapterId = #{chapterId}
        </if>
        <if test="fileName != null and fileName != ''">
            AND fileName like CONCAT('%',#{fileName},'%')
        </if>
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="uploadWay != null and uploadWay != ''">
            AND uploadWay = #{uploadWay}
        </if>
        ORDER BY coursewareSeq ASC
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectCoursewareList" resultType="com.abc12366.bangbang.model.curriculum.bo.CurriculumCoursewareBo" parameterType="java.util.Map">
        SELECT
        coursewareId,	curriculumId,isFree,	chapterId,type,	title,	uploadWay,	link,	fileName,	fileSite,	fileSize,	duration,	isDownload,coursewareSeq,createrId,createrName,	createTime,	updateTime
        FROM bb_curriculum_courseware
        WHERE 1=1
        <if test="curriculumId != null and curriculumId != ''">
            AND curriculumId = #{curriculumId}
        </if>
        <if test="chapterId != null and chapterId != ''">
            AND chapterId = #{chapterId}
        </if>
        <if test="fileName != null and fileName != ''">
            AND fileName like CONCAT('%',#{fileName},'%')
        </if>
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="uploadWay != null and uploadWay != ''">
            AND uploadWay = #{uploadWay}
        </if>
        GROUP BY fileName,fileSite,fileSize
        ORDER BY coursewareSeq ASC
    </select>



    <!-- 查询课程是否免费 -->
    <select id="selectCurriculumisFree" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
            cm.isFree isFree
        FROM
            abc12366_bangbang.bb_curriculum cm
                LEFT JOIN
            bb_curriculum_courseware cs ON cm.curriculumId = cs.curriculumId
        WHERE coursewareId = #{coursewareId}
    </select>

    <!-- 查询课件是否免费 -->
    <select id="selectCoursewareisFree" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
            IFNULL(isFree,0)
        FROM
            bb_curriculum_courseware
        WHERE coursewareId = #{coursewareId}
    </select>

    <!-- 查询用户会员等级是否可观看 -->
    <select id="selectGradeWatch" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
            COUNT(curriculumId)
        FROM
            bb_curriculum_membergrade
        WHERE
            curriculumId = #{curriculumId}
                AND memberGrade = (SELECT
                    vipLevel
                FROM
                    bb_user
                WHERE
                    id = #{userId})
    </select>

    <!-- 查询用户是否已购买课程 -->
    <select id="selectIsBuy" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
            count(p.orderNo)
        FROM
            abc12366_uc.uc_order_product p,
            abc12366_uc.uc_order o where p.orderNo = o.orderNo and o.orderStatus = 6
        AND p.goodsId = (SELECT
            cm.goodsId
        FROM
            abc12366_bangbang.bb_curriculum cm
                LEFT JOIN
            bb_curriculum_courseware cs ON cm.curriculumId = cs.curriculumId
        WHERE
            coursewareId = #{coursewareId})  and o.userId = #{userId}
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectCoursewareCnt" resultType="java.lang.Integer"
            parameterType="java.util.Map">
        SELECT
        count(coursewareId) cnt
        FROM bb_curriculum_courseware
        WHERE 1=1
        <if test="title != null and title != ''">
            AND title = #{title}
        </if>
        <if test="coursewareSeq != null and coursewareSeq != ''">
            AND coursewareSeq = #{coursewareSeq}
        </if>
        <if test="curriculumId != null and curriculumId != ''">
            AND curriculumId = #{curriculumId}
        </if>
        <if test="chapterId != null and chapterId != ''">
            AND chapterId = #{chapterId}
        </if>
        <if test="coursewareId != null and coursewareId != ''">
            AND coursewareId != #{coursewareId}
        </if>
    </select>


</mapper>