<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.CurriculumClassifyRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 classifyId,parentId,classifyName,priority,isDisplay
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.bangbang.model.curriculum.CurriculumClassify" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM bb_curriculum_classify
		 WHERE classifyId = #{classifyId}
	</select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectList" resultType="com.abc12366.bangbang.model.curriculum.bo.CurriculumClassifyBo" parameterType="java.util.Map">
        SELECT
        t1.*, t2.classifyName as parentName
        FROM bb_curriculum_classify t1
        LEFT JOIN bb_curriculum_classify t2 ON t1.parentId = t2.classifyId
        WHERE 1=1
        <if test="parentId != null and parentId != ''">
            AND t1.parentId = #{parentId}
        </if>
        <if test="classifyId != null and classifyId != ''">
            AND t1.classifyId = #{classifyId}
        </if>
        ORDER BY t1.priority ASC
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectClassifyListsy" resultType="com.abc12366.bangbang.model.curriculum.bo.CurriculumClassifysBo" parameterType="java.lang.String">
        SELECT
        t1.*, t2.classifyName as parentName
        FROM bb_curriculum_classify t1
        LEFT JOIN bb_curriculum_classify t2 ON t1.parentId = t2.classifyId
        WHERE 1=1 AND t1.parentId = '0'
        ORDER BY t1.priority ASC
    </select>

    <!-- 查询分类ID是否已存在 -->
    <select id="selectClassifyCnt" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
           count(classifyId) cnt
        FROM bb_curriculum_classify
        WHERE classifyId = #{classifyId}
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectClassifyNameCnt" resultType="java.lang.Integer"
            parameterType="com.abc12366.bangbang.model.curriculum.bo.CurriculumClassifyBo">
        SELECT
        count(classifyId) cnt
        FROM bb_curriculum_classify
        WHERE 1=1
        <if test="classifyName != null and classifyName != ''">
            AND classifyName = #{classifyName}
        </if>
        <if test="classifyId != null and classifyId != ''">
            AND classifyId != #{classifyId}
        </if>
    </select>


</mapper>