<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.LetterRoMapper">
    <select id="selectList" resultType="com.abc12366.bangbang.model.bo.LetterListBO" parameterType="java.lang.String">
        select id,fromId,toId,content,status,createTime,lastUpdate,
        (select bu.username from bb_user bu where bu.id=bl.fromId) senderName,
        (select bu.minUserPicturePath from bb_user bu where bu.id=bl.fromId) senderPicturePath
        from bb_letter bl
        where bl.toId=#{toId}
        order by bl.lastUpdate DESC
    </select>
</mapper>
