<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.QuestionRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	userId,	title,	detail,	status,tag,ip,	createTime,	lastUpdate,	points,	isSolve,	classifyCode,	browseNum, isRecommend
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.bangbang.model.question.Question" parameterType="java.lang.String">
		 SELECT
             q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        (SELECT count(likeId) FROM bb_question_like where questionId = q.id) likeNum,
	      (SELECT count(id) FROM bb_question_answer where questionId = q.id and parentId = '') answerNum
		 FROM bb_question q left join bb_user u on q.userId = u.id
		 WHERE q.id = #{id}
	</select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectQuestion" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.lang.String">
        SELECT
        q.id,	userId,	q.title,collectNum,answerNum,reportNum,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        (SELECT count(likeId) FROM bb_question_like where questionId = q.id) likeNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE q.id = #{id}
    </select>

    <!-- 最新问题 -->
    <select id="selectList" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        select aa.*,a.shortAnswer,a.answerImage,a.likeNum,a.trampleNum,a.commentNum from (SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        collectNum,answerNum,
        (select id from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) answerId
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE q.status = '0'
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="tag != null and tag != ''">
            AND tag like CONCAT('%',#{tag},'%')
        </if>
        <if test="classifyCode != null and classifyCode != ''">
            AND classifyCode like CONCAT(#{classifyCode},'%')
        </if>
        ORDER BY q.createTime DESC) aa left join bb_question_answer a on aa.answerId = a.id
    </select>

    <!-- 推荐问题 -->
    <select id="selectListRecommend" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        collectNum,answerNum,
        (select id from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) answerId,
        (select shortAnswer from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) shortAnswer,
        (select answerImage from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) answerImage,
        (select likeNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) likeNum,
        (select trampleNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) trampleNum,
        (select commentNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) commentNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE q.status = '0' and isRecommend = '1'
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="tag != null and tag != ''">
            AND tag like CONCAT('%',#{tag},'%')
        </if>
        <if test="classifyCode != null and classifyCode != ''">
            AND classifyCode like CONCAT(#{classifyCode},'%')
        </if>
        ORDER BY q.createTime DESC
    </select>

    <!-- 高悬赏问题 -->
    <select id="selectListByPoints" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        collectNum,answerNum,
        (select id from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) answerId,
        (select shortAnswer from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) shortAnswer,
        (select answerImage from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) answerImage,
        (select likeNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) likeNum,
        (select trampleNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) trampleNum,
        (select commentNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) commentNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE q.status = '0' and q.points >0
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="tag != null and tag != ''">
            AND tag like CONCAT('%',#{tag},'%')
        </if>
        <if test="classifyCode != null and classifyCode != ''">
            AND classifyCode like CONCAT(#{classifyCode},'%')
        </if>
        ORDER BY q.createTime DESC
    </select>

    <!-- 热门问题 -->
    <select id="selectListByBrowseNum" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        collectNum,answerNum,
        (select id from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) answerId,
        (select shortAnswer from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) shortAnswer,
        (select answerImage from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) answerImage,
        (select likeNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) likeNum,
        (select trampleNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) trampleNum,
        (select commentNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) commentNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE q.status = '0'
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="tag != null and tag != ''">
            AND tag like CONCAT('%',#{tag},'%')
        </if>
        <if test="classifyCode != null and classifyCode != ''">
            AND classifyCode like CONCAT(#{classifyCode},'%')
        </if>
        ORDER BY browseNum DESC
    </select>

    <!-- 0回答问题 -->
    <select id="selectListWait" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        collectNum,answerNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE q.status = '0' and q.answerNum = 0
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="tag != null and tag != ''">
            AND tag like CONCAT('%',#{tag},'%')
        </if>
        <if test="classifyCode != null and classifyCode != ''">
            AND classifyCode like CONCAT(#{classifyCode},'%')
        </if>
        ORDER BY q.createTime DESC
    </select>

    <!-- 已解决问题 -->
    <select id="selectListAccept" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        collectNum,answerNum,
        (select id from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) answerId,
        (select shortAnswer from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) shortAnswer,
        (select answerImage from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) answerImage,
        (select likeNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) likeNum,
        (select trampleNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) trampleNum,
        (select commentNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) commentNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE q.status = '0' and q.id in(SELECT questionId FROM bb_question_answer where isAccept = '1')
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="tag != null and tag != ''">
            AND tag like CONCAT('%',#{tag},'%')
        </if>
        <if test="classifyCode != null and classifyCode != ''">
            AND classifyCode like CONCAT(#{classifyCode},'%')
        </if>
        ORDER BY q.createTime DESC
    </select>

    <!-- 查询帮友热议 -->
    <select id="selectListry" resultType="com.abc12366.bangbang.model.question.bo.QuestionryBo" parameterType="java.util.Map">
        SELECT
        q.id,q.title,u.userPicturePath,u.nickname,q.createTime,	q.points,detail,
        collectNum,answerNum,
        (select id from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) answerId,
        (select shortAnswer from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) shortAnswer,
        (select commentNum from bb_question_answer where status = '0' and questionId = q.id order by likeNum desc limit 1) commentNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE q.status = '0'
        ORDER BY answerNum DESC
    </select>

    <!-- 我的举报 -->
    <select id="selectTipList" resultType="com.abc12366.bangbang.model.question.bo.QuestionjbBo" parameterType="java.lang.String">
        SELECT
             t.sourceId,t.sourceType,t.createTime,t.status, q.title,
            CASE sourceType
                 WHEN 'answer' THEN (select answer from bb_question_answer where id = t.sourceId)
                 WHEN 'comment' THEN (select commentTxt from bb_question_comment where id = t.sourceId)
                 ELSE q.detail END  as answer
        FROM
            bb_question_tip_off t
                LEFT JOIN
            bb_question q ON t.questionId = q.id
        where t.createUser = #{userId}
        ORDER BY t.createTime DESC
    </select>

    <!-- 查找邦派ID -->
    <select id="selectfactionId" resultType="java.lang.String" parameterType="java.util.Map">
        SELECT factionId FROM bb_question_faction_classify where factionId in(SELECT factionId FROM bb_question_faction_member where userId = #{userId})
        and classifyId = #{classifyId} limit 1
    </select>


    <!-- 话题推荐管理 -->
    <select id="selectListTopicRecommend" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="com.abc12366.bangbang.model.bo.TopicRecommendParamBO">
        SELECT
        q.id,	userId,	q.title,q.detail,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	q.isSolve,	classifyCode,	browseNum, isRecommend,
        (SELECT count(likeId) FROM bb_question_like where questionId = q.id) likeNum,
        q.answerNum,
        (SELECT count(id) FROM bb_question_answer where questionId = q.id and parentId != '') commentNum
        FROM bb_question q
        WHERE 1=1
        <if test="keywords != null and keywords != ''">
            AND title like CONCAT('%',#{keywords},'%')
        </if>
        <if test="isRecommend != null">
            <choose>
                <when test="isRecommend == true">
                    AND isRecommend = 1
                </when>
                <otherwise>
                    AND (isRecommend = 0 OR isRecommend is NULL )
                </otherwise>
            </choose>
        </if>
        <choose>
            <when test="sortFieldName != null and sortFieldName != '' and sortName !=null and sortName !=''">
                ORDER BY ${sortFieldName} ${sortName}
            </when>
            <otherwise>
                ORDER BY createTime DESC
            </otherwise>
        </choose>
    </select>

    <!-- 邀我答的问题 -->
    <select id="selectInviteList" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.lang.String">
        SELECT
        q.id,	q.userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        q.answerNum
        FROM bb_question_invite i left join bb_question q on i.questionId = q.id left join bb_user u on q.userId = u.id
        WHERE q.userId = #{userId}
        ORDER BY q.createTime DESC
    </select>

    <!-- 我的提问 -->
    <select id="selectMyQuestionList" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        (SELECT count(id) FROM bb_question_answer where questionId = q.id and isAccept = '1') isAccept,
        (SELECT count(id) FROM abc12366_bangbang.bb_question_tip_off where sourceId = q.id and sourceType = 'question' and createUser = q.userId) isTip,
        q.browseNum,q.collectNum,q.answerNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE 1=1
        <if test="isAccept != null and isAccept != ''">
            AND (SELECT count(id) FROM bb_question_answer where questionId = q.id and isAccept = '1') > 0
        </if>
        <if test="isTip != null and isTip != ''">
            AND (SELECT count(id) FROM abc12366_bangbang.bb_question_tip_off where sourceId = q.id and sourceType = 'question' and createUser = q.userId) > 0
        </if>
        <if test="userId != null and userId != ''">
            AND q.userId = #{userId}
        </if>
        ORDER BY q.createTime DESC
    </select>

    <!-- 我的帮帮 -->
    <select id="selectMybangbang" resultType="com.abc12366.bangbang.model.question.bo.MyQuestionTjBo" parameterType="java.lang.String">
        select
        (SELECT count(*) FROM bb_question_answer where parentId = '' and userId = #{userId}) answerNum,
        (SELECT count(*) FROM bb_question_like where userId = #{userId}) likeNum,
        (SELECT count(*) FROM bb_question_comment where userId = #{userId}) commentNum,
        (SELECT count(*) FROM bb_question_answer where isAccept = '1' and userId = #{userId}) acceptNum,
        0 medalNum,
        (SELECT count(*) FROM bb_question where userId = #{userId}) questionNum,
        (SELECT count(*) FROM bb_question_invite where userId = #{userId}) inviteNum,
        (SELECT count(*) FROM bb_question_faction_member where status = '2' and userId = #{userId}) applyQueFactionNum,
        (SELECT count(*) FROM bb_question_faction_member where status = '2' and duty in('1','2') and  userId = #{userId}) manageQueFactionNum,
        (SELECT count(*) FROM bb_question_attention where attentionUserId = #{userId}) fansNum,
        (SELECT count(*) FROM bb_question_attention where userId = #{userId}) attentionNum,
        (SELECT count(*) FROM bb_question_collect where userId = #{userId}) collectNum,
        (SELECT count(*) FROM bb_question_tip_off where createUser = #{userId}) tipNum
        from dual
    </select>

    <!-- 我管理的话题 -->
    <select id="selectMyManageQuesList" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.lang.String">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        q.browseNum,q.collectNum,q.answerNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE 1=1
        and q.classifyCode = (SELECT classifyCode FROM bb_question_headman where userId = #{userId} and status = 'success' limit 1)
        ORDER BY q.createTime DESC
    </select>

</mapper>