<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.QuestionRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	userId,	title,	detail,	status,tag,ip,	createTime,	lastUpdate,	points,	isSolve,	classifyCode,	browseNum, isRecommend
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.bangbang.model.question.Question" parameterType="java.lang.String">
		 SELECT
             id,	userId,	title,	detail,	status,tag,ip,	createTime,	lastUpdate,	points,	isSolve,	classifyCode,	browseNum, isRecommend,
	      (SELECT count(likeId) FROM bb_question_like where id = q.id) likeNum,
	      (SELECT count(id) FROM bb_question_answer where questionId = q.id and parentId = '') answerNum
		 FROM bb_question q
		 WHERE id = #{id}
	</select>

    <!-- 最新问题 -->
    <select id="selectList" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        (SELECT count(likeId) FROM bb_question_like where id = q.id) likeNum,
        (SELECT count(id) FROM bb_question_answer where questionId = q.id and parentId = '') answerNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE 1=1
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="tag != null and tag != ''">
            AND tag like CONCAT('%',#{tag},'%')
        </if>
        <if test="classifyCode != null and classifyCode != ''">
            AND classifyCode like CONCAT(#{classifyCode},'%')
        </if>
        ORDER BY createTime DESC
    </select>

    <!-- 热门问题 -->
    <select id="selectListByBrowseNum" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        (SELECT count(likeId) FROM bb_question_like where id = q.id) likeNum,
        (SELECT count(id) FROM bb_question_answer where questionId = q.id and parentId = '') answerNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE 1=1
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="tag != null and tag != ''">
            AND tag like CONCAT('%',#{tag},'%')
        </if>
        <if test="classifyCode != null and classifyCode != ''">
            AND classifyCode like CONCAT(#{classifyCode},'%')
        </if>
        ORDER BY browseNum DESC
    </select>

    <!-- 等你回答问题 -->
    <select id="selectListWait" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        (SELECT count(likeId) FROM bb_question_like where id = q.id) likeNum,
        (SELECT count(id) FROM bb_question_answer where questionId = q.id and parentId = '') answerNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE 1=1 and id not in(SELECT questionId FROM bb_question_answer where userId = #{userId})
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="tag != null and tag != ''">
            AND tag like CONCAT('%',#{tag},'%')
        </if>
        <if test="classifyCode != null and classifyCode != ''">
            AND classifyCode like CONCAT(#{classifyCode},'%')
        </if>
        ORDER BY createTime DESC
    </select>

    <!-- 已解决问题 -->
    <select id="selectListAccept" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
        q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        (SELECT count(likeId) FROM bb_question_like where id = q.id) likeNum,
        (SELECT count(id) FROM bb_question_answer where questionId = q.id and parentId = '') answerNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE 1=1 and id in(SELECT questionId FROM bb_question_answer where isAccept = '1')
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        <if test="tag != null and tag != ''">
            AND tag like CONCAT('%',#{tag},'%')
        </if>
        <if test="classifyCode != null and classifyCode != ''">
            AND classifyCode like CONCAT(#{classifyCode},'%')
        </if>
        ORDER BY createTime DESC
    </select>

    <!-- 查询帮友热议 -->
    <select id="selectListry" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.util.Map">
        SELECT
            q.id,	userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        (select count(id) from bb_question_answer where questionId = q.id and parentId != '') answerNum
        FROM bb_question q left join bb_user u on q.userId = u.id
        WHERE 1=1
        ORDER BY answerNum DESC
    </select>

    <!-- 查找邦派ID -->
    <select id="selectfactionId" resultType="java.lang.String" parameterType="java.util.Map">
        SELECT factionId FROM bb_question_faction_classify where factionId in(SELECT factionId FROM bb_question_faction_member where userId = #{userId})
        and classifyId = #{classifyId} limit 1
    </select>

</mapper>