<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.QuestionLikeRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 likeId,	id,questionId,factionId,	userId,	likeTime
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.bangbang.model.question.QuestionLike" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM bb_question_like
		 WHERE likeId = #{likeId}
	</select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectList" resultType="com.abc12366.bangbang.model.question.bo.QuestionBo" parameterType="java.lang.String">
        SELECT
        q.id,	q.userId,	q.title,	detail,u.userPicturePath,u.nickname,q.status,tag,ip,	q.createTime,	q.lastUpdate,	q.points,	isSolve,	classifyCode,	browseNum, isRecommend,
        (SELECT count(likeId) FROM bb_question_like where likeType = 1 and questionId = l.questionId) likeNum,
        (SELECT count(id) FROM bb_question_answer where questionId = l.questionId and parentId = '') answerNum
        FROM (SELECT questionId,userId FROM bb_question_like where likeType = 1 group by questionId,userId) l left join bb_question q on l.questionId = q.id left join bb_user u on q.userId = u.id
        where l.userId = #{userId}
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectExist" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(id)
        FROM bb_question_like
        WHERE id = #{id} and userId = #{userId}
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectLikeCnt" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
        count(likeId)
        FROM bb_question_like
        WHERE likeType = 1 and id = #{id}
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectTrampleCnt" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
        count(likeId)
        FROM bb_question_like
        WHERE likeType = 2 and id = #{id}
    </select>


</mapper>