<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.QuestionAnswerRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	parentId,	questionId,factionId,	userId,	answerUserId,ip,	answer,	status,	createTime,	lastUpdate,	isAccept
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.bangbang.model.question.QuestionAnswer" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM bb_question_answer
		 WHERE id = #{id}
	</select>

    <!-- 问题回复列表查询 -->
    <select id="selectList" resultType="com.abc12366.bangbang.model.question.bo.QuestionAnswerBo" parameterType="java.util.Map">
        SELECT
        a.id,	parentId,	questionId,	a.userId,u.userPicturePath,u.nickname,
        (SELECT nickname FROM bb_user where id = answerUserId) answerNickname,
        answerUserId,a.ip,	answer,	a.status,	a.createTime,	a.lastUpdate,	isAccept,
        (SELECT count(likeId) FROM bb_question_like where id = a.id and userId = #{userId}) isLike,
        (SELECT count(likeId) FROM bb_question_like where id = a.id) likeNum,
        (SELECT count(id) FROM bb_question_answer where parentId = a.id) answerNum
        FROM bb_question_answer a left join bb_user u on a.userId = u.id
        WHERE parentId=''
        <if test="questionId != null and questionId != ''">
            AND questionId = #{questionId}
        </if>
        <if test="isAccept != null and isAccept != ''">
            AND isAccept = #{isAccept}
        </if>
    </select>

    <!-- 问题回复评论列表查询 -->
    <select id="selectListByParentId" resultType="com.abc12366.bangbang.model.question.bo.QuestionAnswerBo" parameterType="java.util.Map">
        SELECT
        a.id,	parentId,	questionId,	a.userId,u.userPicturePath,u.nickname,
        (SELECT nickname FROM bb_user where id = answerUserId) answerNickname,
        answerUserId,a.ip,	answer,	a.status,	a.createTime,	a.lastUpdate,	isAccept,
        (SELECT count(likeId) FROM bb_question_like where id = a.id and userId = #{userId}) isLike,
        (SELECT count(likeId) FROM bb_question_like where id = a.id) likeNum
        FROM bb_question_answer a left join bb_user u on a.userId = u.id
        WHERE 1=1
        <if test="parentId != null and parentId != ''">
            AND parentId = #{parentId}
        </if>
        <if test="questionId != null and questionId != ''">
            AND questionId = #{questionId}
        </if>
    </select>


    <!-- 最新回答 -->
    <select id="selectListNew" resultType="com.abc12366.bangbang.model.question.bo.QuestionAnswerBo" parameterType="java.util.Map">
        SELECT
        a.id,	parentId,	questionId,	a.userId,u.userPicturePath,u.nickname,
        (SELECT nickname FROM bb_user where id = answerUserId) answerNickname,
        answerUserId,a.ip,	answer,	a.status,	a.createTime,	a.lastUpdate,	isAccept,
        (SELECT count(likeId) FROM bb_question_like where id = #{questionId}) likeNum,
        (SELECT count(id) FROM bb_question_answer where id = #{questionId}) answerNum,
        q.title questionTitle
        FROM bb_question_answer a LEFT JOIN bb_question q on a.questionId = q.id
        left join bb_user u on a.userId = u.id
        WHERE parentId=''
        ORDER BY createTime DESC
    </select>


    <!-- 查找邦派ID -->
    <select id="selectfactionId" resultType="java.lang.String" parameterType="java.util.Map">
        SELECT factionId FROM bb_question_faction_classify where factionId in(SELECT factionId FROM bb_question_faction_member where userId = #{userId})
          and classifyId = (SELECT classifyCode FROM bb_question where id = #{questionId}) limit 1
    </select>


</mapper>