<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.QuestionFactionAllocationRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	factionId,	userId,	userRank,	proportion,	integral,	createUserId,	createTime,	updateTime,	state
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.bangbang.model.question.QuestionFactionAllocation" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM bb_question_faction_allocation
		 WHERE id = #{id}
	</select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectList" resultType="com.abc12366.bangbang.model.question.bo.QuestionFactionAllocationBo" parameterType="java.util.Map">
        SELECT
            id,	factionId,	userId,	userRank,	proportion,	integral,	createUserId,	createTime,	updateTime,	state
        FROM bb_question_faction_allocation
        WHERE 1=1
        <if test="state != null and state !=''">
            AND state = #{state}
        </if>
        <if test="factionId != null and factionId !=''">
            AND factionId = #{factionId}
        </if>
        ORDER BY integral desc
    </select>

</mapper>