<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.QuestionCountRoMapper">

    <select id="selectLike" resultType="com.abc12366.bangbang.model.question.bo.QuestionCountBo">
SELECT id,count(*) as count
,(select userId from bb_question_answer b where b.id=z.id) uid
,(select userPicturePath from bb_user bu where bu.id=uid) userPicturePath
,(select username from bb_user bu where bu.id=uid) username
FROM bb_question_like  z
group by id
order by count(*) desc
    </select>

    <select id="selectAttention" resultType="com.abc12366.bangbang.model.question.bo.QuestionCountBo">
        SELECT attentionUserId as id,count(*) as count
        ,(select userPicturePath from bb_user bu where bu.id=attentionUserId) userPicturePath
        ,(select username from bb_user bu where bu.id=attentionUserId) username
        FROM bb_question_attention  z
        group by attentionUserId
        order by count(*) desc
    </select>
    <select id="selectAccept" resultType="com.abc12366.bangbang.model.question.bo.QuestionCountBo">

    SELECT userId as id,count(*) as count
            ,(select userPicturePath from bb_user bu where bu.id=userId) userPicturePath
        ,(select username from bb_user bu where bu.id=userId) username
    FROM
    (SELECT * FROM bb_question_answer where isAccept=1)  z
    group by userId
    order by count(*) desc
</select>
</mapper>