<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.QuestionSysBlockRoMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id,userId,classifyCode, sourceId,	sourceType,	createTime,	updateAdmin, updateTime,status
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectList" resultType="com.abc12366.bangbang.model.question.bo.QuestionSysBlockBo">
        SELECT t.*,t_user.nickname as username,t_classify.classifyName,
        IF(t1.title IS NULL, t2.answer, CONCAT(t1.title,t1.detail)) content
        FROM bb_question_sys_block t
        LEFT JOIN bb_question t1 ON (t.sourceId=t1.id AND t.sourceType = 'question')
        LEFT JOIN bb_question_answer t2 ON (t.sourceId=t2.id  AND (t.sourceType = 'answer' OR t.sourceType='comment'))
        LEFT JOIN abc12366_uc.uc_user t_user ON t.userId = t_user.id
        LEFT JOIN bb_question_classify t_classify ON t.classifyCode = t_classify.classifyCode
    </select>


    <!-- 查询（根据主键ID查询） -->
    <select id="selectByPrimaryKey" resultType="com.abc12366.bangbang.model.question.QuestionSysBlock" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        FROM bb_question_sys_block
        WHERE id = #{id}
    </select>
</mapper>