<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.SystemRecordCompanyRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	amount,	menu,	nsrsbh,	createTime
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.bangbang.model.SystemRecordCompany" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM bb_system_record_company
		 WHERE id = #{id}
	</select>

	<!-- 查询（根据时间） -->
	<select id="selectByDateCount" resultType="java.lang.Integer" parameterType="java.util.Date">
		SELECT
		count(id)
		FROM bb_system_record_company
		WHERE date_format(createTime, '%Y-%m-%d') = date_format(#{createTime}, '%Y-%m-%d')
	</select>

	<select id="statisRecordCompanyList" resultType="com.abc12366.bangbang.model.DzsbHngs" parameterType="java.util.Map">
		select x.nsrsbh,x.nsrmc,x.swjgDm,x.swjgMc,x.amount from (
		select d.nsrsbh,d.nsrmc,d.swjgDm,d.swjgMc,r.amount from bb_system_record_company r
		LEFT JOIN abc12366_uc.uc_user_hngs d on r.nsrsbh = d.nsrsbh
		<where>
            d.nsrsbh is not null
            <if test="menu != null and menu != ''">
                and r.menu = #{menu}
            </if>
			<if test="startTime != null">
				<![CDATA[
                    and date_format(r.createTime, '%Y-%m-%d') >= date_format(#{startTime}, '%Y-%m-%d')
                ]]>
			</if>
			<if test="endTime != null">
				<![CDATA[
                    and date_format(r.createTime, '%Y-%m-%d') <= date_format(#{endTime}, '%Y-%m-%d')
                ]]>
			</if>
		</where>
		group by r.nsrsbh
		UNION
		select d.nsrsbh,d.nsrmc,d.swjgDm,d.swjgMc,r.amount from bb_system_record_company r
		LEFT JOIN abc12366_uc.uc_user_dzsb d on r.nsrsbh = d.nsrsbh
		<where>
            d.nsrsbh is not null
            <if test="menu != null and menu != ''">
				and r.menu = #{menu}
			</if>
			<if test="startTime != null">
				<![CDATA[
                    and date_format(r.createTime, '%Y-%m-%d') >= date_format(#{startTime}, '%Y-%m-%d')
                ]]>
			</if>
			<if test="endTime != null">
				<![CDATA[
                    and date_format(r.createTime, '%Y-%m-%d') <= date_format(#{endTime}, '%Y-%m-%d')
                ]]>
			</if>
		</where>
		group by r.nsrsbh
		) x GROUP BY x.nsrsbh
	</select>
	<!--<select id="statisRecordCompanyList" resultType="com.abc12366.bangbang.model.DzsbHngs" parameterType="java.util.Map">
		select d.nsrsbh,d.nsrmc,d.swjgDm,d.swjgMc from
		(
		<foreach collection="list" index="key"  item="yyyyMMdd" separator="union">
			select r.nsrsbh from bb_system_record_${yyyyMMdd} r where r.nsrsbh is not null
			<if test="menua != null and menua != ''">
				and r.menua = #{menua}
			</if>
			<if test="menub != null and menub != ''">
				and r.menub = #{menub}
			</if>
			<if test="menuc != null and menuc != ''">
				and r.menuc =  #{menuc}
			</if>
			<if test="startTime != null">
				<![CDATA[
                    and date_format(r.createTime, '%Y-%m-%d') >= date_format(#{startTime}, '%Y-%m-%d')
                ]]>
			</if>
			<if test="endTime != null">
				<![CDATA[
                    and date_format(r.createTime, '%Y-%m-%d') <= date_format(#{endTime}, '%Y-%m-%d')
                ]]>
			</if>
			GROUP BY r.nsrsbh
		</foreach>
		) a
		LEFT JOIN abc12366_uc.uc_user_hngs d on a.nsrsbh = d.nsrsbh
		UNION ALL
		select d.nsrsbh,d.nsrmc,d.swjgDm,d.swjgMc from
		(
		<foreach collection="list" index="key"  item="yyyyMMdd" separator="union">
			select r.nsrsbh from bb_system_record_${yyyyMMdd} r where r.nsrsbh is not null
			<if test="menua != null and menua != ''">
				and r.menua = #{menua}
			</if>
			<if test="menub != null and menub != ''">
				and r.menub = #{menub}
			</if>
			<if test="menuc != null and menuc != ''">
				and r.menuc =  #{menuc}
			</if>
			<if test="startTime != null">
				<![CDATA[
                    and date_format(r.createTime, '%Y-%m-%d') >= date_format(#{startTime}, '%Y-%m-%d')
                ]]>
			</if>
			<if test="endTime != null">
				<![CDATA[
                    and date_format(r.createTime, '%Y-%m-%d') <= date_format(#{endTime}, '%Y-%m-%d')
                ]]>
			</if>
			GROUP BY r.nsrsbh
		</foreach>
		) a
		LEFT JOIN abc12366_uc.uc_user_dzsb d on a.nsrsbh = d.nsrsbh
	</select>-->
	<!-- 查询（根据主键ID查询） -->
	<select id="selectRecordCompanyList" resultType="com.abc12366.bangbang.model.SystemRecordCompany" parameterType="java.lang.String">
		 SELECT id,menua as menu,COUNT(menua) as amount,nsrsbh,createTime FROM bb_system_record_${yyyyMMdd} where nsrsbh is not null and menua is not null and menua !='' group by nsrsbh
		union all
		SELECT id,menub as menu,COUNT(menub) as amount,nsrsbh,createTime FROM bb_system_record_${yyyyMMdd} where nsrsbh is not null and menub is not null and menub !='' group by nsrsbh
		union all
		SELECT id,menuc as menu,COUNT(menuc) as amount,nsrsbh,createTime FROM bb_system_record_${yyyyMMdd} where nsrsbh is not null  and menuc is not null and menuc !='' group by nsrsbh
	</select>

	<select id="statisList" resultType="com.abc12366.bangbang.model.SystemRecordStatis" parameterType="java.util.Map">
        select mm.total,mm.menu from (
		<foreach collection="list" index="key"  item="name" separator="union all">
            select count(a.id) as total,a.menu from (
            SELECT id,menu,amount,nsrsbh,createTime FROM bb_system_record_company
			where menu = #{name}
			<if test="startTime != null">
				<![CDATA[
                    and date_format(createTime, '%Y-%m-%d') >= date_format(#{startTime}, '%Y-%m-%d')
                ]]>
			</if>
			<if test="endTime != null">
				<![CDATA[
                    and date_format(createTime, '%Y-%m-%d') <= date_format(#{endTime}, '%Y-%m-%d')
                ]]>
			</if>
			group by nsrsbh
            ) a
		</foreach>
        ) mm where mm.menu is not null
	</select>
</mapper>