<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db2.SystemRecordRoMapper">

    <select id="selectList" resultType="com.abc12366.bangbang.model.bo.SystemRecordBO" parameterType="java.util.Map">
        SELECT id,userId,sessionId,browseDate,year,week,referer,month,day,hour,minute,pageTitle,pageUrl
        ,stayLong,feature,appName,ip,location,browseType,browseVersion,os,device,remark,createTime
        ,(select username from bb_user bu where bu.id=userId) username
        from bb_system_record 
        <where>
            <if test="userId!=null">
                userId=#{userId}
            </if>
            <if test="appName!=null">
                and appName=#{appName}
            </if>
            <if test="location!=null">
                and location=#{location}
            </if>
            <if test="startTime!=null">
                and createTime &gt;=#{startTime}
            </if>
            <if test="endTime!=null">
                and createTime &lt;= #{endTime}
            </if>
        </where>
        ORDER BY createTime DESC
    </select>

    <select id="selectOne" resultType="com.abc12366.bangbang.model.bo.SystemRecordBO" parameterType="java.lang.String">
        SELECT id,userId,sessionId,browseDate,year,week,referer,month,day,hour,minute,pageTitle,
        pageUrl,stayLong,feature,appName,ip,location,browseType,browseVersion,os,device,remark,createTime
          ,(select username from bb_user bu where bu.id=userId) username
        from bb_system_record
        where id=#{id}
    </select>
    <select id="findStay" resultType="com.abc12366.bangbang.model.bo.SystemRecordBO" parameterType="com.abc12366.bangbang.model.SystemRecord">
        SELECT id,userId,sessionId,browseDate,year,week,referer,month,day,hour,minute,pageTitle,
        pageUrl,stayLong,feature,appName,ip,location,browseType,browseVersion,os,device,remark,createTime
        from bb_system_record
        where userId=#{userId} and sessionId=#{sessionId} and day=#{day}
        ORDER BY createTime DESC
    </select>
</mapper>