<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.gateway.mapper.db1.ApiLogMapper">

    <select id="create" parameterType="com.abc12366.gateway.model.bo.TableBO">
        CREATE TABLE IF NOT EXISTS gw_api_log_${yyyyMMdd} like gw_api_log
    </select>

    <insert id="insert" parameterType="com.abc12366.gateway.model.ApiLog">
        insert into gw_api_log_${yyyyMMdd} (id, uri, userAgent, ip, inTime, outTime, status, appId, userId, version)
        values (#{id}, #{uri}, #{userAgent}, #{ip}, #{inTime}, #{outTime}, #{status}, #{appId}, #{userId}, #{version})
    </insert>
</mapper>