<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.gateway.mapper.db1.BlacklistMapper">

    <insert id="insert" parameterType="com.abc12366.gateway.model.Blacklist">
        INSERT INTO gw_blacklist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="startTime != null">
                startTime,
            </if>
            <if test="endTime != null">
                endTime,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="createUser != null">
                createUser,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="ip!=null">
                #{ip},
            </if>
            <if test="startTime!=null">
                #{startTime},
            </if>
            <if test="endTime!=null">
                #{endTime},
            </if>
            <if test="status!=null">
                #{status},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="createUser!=null">
                #{createUser},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.abc12366.gateway.model.Blacklist">
        UPDATE gw_blacklist
        <set>
            <if test="userId != null">
                userId = #{userId},
            </if>
            <if test="ip != null">
                ip = #{ip},
            </if>
            <if test="startTime != null">
                startTime = #{startTime},
            </if>
            <if test="endTime != null">
                endTime = #{endTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="createUser != null">
                createUser = #{createUser},
            </if>

        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="com.abc12366.gateway.model.Blacklist">
        DELETE FROM gw_blacklist WHERE id = #{id}
    </delete>
</mapper>