<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.gateway.mapper.db1.LogMapper">

    <insert id="insert" parameterType="Log">
        insert into log (id, uri, userAgent, ip, startTime, endTime, status, appId)
        values (#{id}, #{uri}, #{userAgent}, #{ip}, #{startTime}, #{endTime}, #{status}, #{appId})
    </insert>
</mapper>