<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cszj.mapper.db1.WxMsgMapper">
       

       <insert id="insertNews" parameterType="com.abc12366.cszj.model.weixin.bo.message.News">
         INSERT INTO cszj_news(id,ArticleCount,creatDate,lastUpdate)
         VALUES (#{id}, #{articleCount}, #{creatDate}, #{lastUpdate})
       </insert>
       
       <insert id="insertArticle" parameterType="com.abc12366.cszj.model.weixin.bo.message.Article">
         INSERT INTO cszj_article(newsId,Title,Description,PicUrl,Url)
         VALUES (#{newsId}, #{title}, #{description}, #{picUrl}, #{url})
       </insert>
       
       <update id="updateNews" parameterType="com.abc12366.cszj.model.weixin.bo.message.News">
         UPDATE cszj_news
         set ArticleCount=#{articleCount},lastUpdate=#{lastUpdate}
         where id=#{id}
       </update>
       
       <delete id="deleteArticle" parameterType="java.lang.String">
          DELETE FROM cszj_article WHERE newsId = #{id}
       </delete>
       
       
</mapper>