<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db2.ChannelRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		channelId,channelName,	modelId,	siteId,	parentId,	channelPath,	priority,	isDisplay
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.cms.model.Channel" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cms_channel
		 WHERE channelId = #{channelId}
	</select>

	<!-- 查询（根据查询条件查询） -->
	<select id="selectList" resultType="com.abc12366.cms.model.Channel" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM cms_channel order by priority
	</select>

	<!-- 查询（根据查询条件查询） -->
	<select id="selectLists" resultType="com.abc12366.cms.model.bo.ChannelBo" parameterType="java.lang.String">
		SELECT
		channelId,channelName,	modelId,	siteId,	parentId,	channelPath,	priority,	isDisplay,
        (select count(*) cnt from cms_content where channelId = t.channelId) cnt
		FROM cms_channel t order by priority
	</select>

	<!-- 查询（根据查询条件查询） -->
	<select id="selectListByparentId" resultType="com.abc12366.cms.model.Channel" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM cms_channel
		WHERE parentId = #{parentId}
	</select>


</mapper>