<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db2.CommentRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		commentId,	commentUserId,	replyUserId,	contentId,title,siteId,	createTime,	replyTime,	ups,	downs,	isRecommend,	isChecked,	score,	parentId,	replyCount
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.cms.model.Comment" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cms_comment
		 WHERE commentId = #{commentId}
	</select>

	<!-- 查询（根据查询条件查询） -->
	<select id="selectList" resultType="com.abc12366.cms.model.bo.CommentListBo" parameterType="java.util.Map">
		SELECT a.commentId commentId,
		b.text TEXT,
		b.reply reply,
		a.title title,
		b.ip ip,
		a.createTime createTime,
		a.isRecommend isRecommend,
		a.isChecked isChecked,
		a.commentUserId commentUserId
		FROM cms_comment a LEFT JOIN cms_comment_ext b
		ON a.commentId = b.commentId
		WHERE 1=1
		<if test="contentId != null and contentId != ''">
			AND a.contentId like CONCAT('%',#{contentId},'%')
		</if>
		<if test="isChecked != null and isChecked != ''">
			AND a.isChecked = #{isChecked}
		</if>
		<if test="isRecommend != null and isRecommend != ''">
			AND a.isRecommend = #{isRecommend}
		</if>
		ORDER BY a.createTime DESC

	</select>

	<!-- 查询（根据contentId查询） -->
	<select id="selectBycontentId" resultType="com.abc12366.cms.model.bo.CommentBo" parameterType="java.lang.String">
		SELECT a.commentId commentId,
			   b.text TEXT,
			   b.reply reply,
			   b.ip ip,
			   a.createTime createTime,
			   a.commentUserId commentUserId
		FROM cms_comment a LEFT JOIN cms_comment_ext b ON a.commentId = b.commentId
		WHERE a.contentId = #{contentId}
	</select>

	<!-- 查询（按天统计） -->
	<select id="selectall" resultType="java.lang.Long" parameterType="java.lang.String">
		SELECT COUNT(*) cnt
		FROM cms_comment
	</select>

	<!-- 查询（按天统计） -->
	<select id="selectday" resultType="java.lang.Long" parameterType="java.lang.String">
		SELECT COUNT(*) cnt
		FROM cms_comment WHERE TO_DAYS(createTime) = TO_DAYS(NOW())
	</select>

	<select id="selectByday" resultType="com.abc12366.cms.model.bo.CommentTjBo" parameterType="java.lang.String">
		SELECT HOUR(createTime) tj,COUNT(*) cnt
		FROM cms_comment WHERE TO_DAYS(createTime) = TO_DAYS(NOW())
		GROUP BY HOUR(createTime)
	</select>

	<!-- 查询（按天统计未回复） -->
	<select id="selectByday0" resultType="com.abc12366.cms.model.bo.CommentTjBo" parameterType="java.lang.String">
		SELECT HOUR(createTime) tj,COUNT(*) cnt
		FROM cms_comment WHERE TO_DAYS(createTime) = TO_DAYS(NOW()) and replyCount = 0
		GROUP BY HOUR(createTime)
	</select>

	<!-- 查询（按天统计已回复） -->
	<select id="selectByday1" resultType="com.abc12366.cms.model.bo.CommentTjBo" parameterType="java.lang.String">
		SELECT HOUR(createTime) tj,COUNT(*) cnt
		FROM cms_comment WHERE TO_DAYS(createTime) = TO_DAYS(NOW()) and replyCount > 0
		GROUP BY HOUR(createTime)
	</select>

	<!-- 查询（按周统计） -->
	<select id="selectweek" resultType="java.lang.Long" parameterType="java.lang.String">
		SELECT COUNT(*) cnt
		FROM cms_comment WHERE YEARWEEK(date_format(createTime,'%Y-%m-%d')) = YEARWEEK(now())
	</select>

	<!-- 查询（按月统计） -->
	<select id="selectmonth" resultType="java.lang.Long" parameterType="java.lang.String">
		SELECT COUNT(*) cnt
		FROM cms_comment WHERE DATE_FORMAT( createTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
	</select>

	<select id="selectBymonth" resultType="com.abc12366.cms.model.bo.CommentTjBo" parameterType="java.lang.String">
		SELECT day(createTime) tj,COUNT(*) cnt
		FROM cms_comment WHERE DATE_FORMAT( createTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
		GROUP BY DAY(createTime)
	</select>

	<!-- 查询（按月统计未回复） -->
	<select id="selectBymonth0" resultType="com.abc12366.cms.model.bo.CommentTjBo" parameterType="java.lang.String">
		SELECT day(createTime) tj,COUNT(*) cnt
		FROM cms_comment WHERE DATE_FORMAT( createTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) and replyCount = 0
		GROUP BY DAY(createTime)
	</select>

	<!-- 查询（按月统计已回复） -->
	<select id="selectBymonth1" resultType="com.abc12366.cms.model.bo.CommentTjBo" parameterType="java.lang.String">
		SELECT day(createTime) tj,COUNT(*) cnt
		FROM cms_comment WHERE DATE_FORMAT( createTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) and replyCount > 0
		GROUP BY DAY(createTime)
	</select>

	<!-- 查询（按年统计） -->
	<select id="selectyear" resultType="java.lang.Long" parameterType="java.lang.String">
		SELECT COUNT(*) cnt
		FROM cms_comment WHERE DATE_FORMAT( createTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
	</select>

	<select id="selectByyear" resultType="com.abc12366.cms.model.bo.CommentTjBo" parameterType="java.lang.String">
		SELECT MONTH(createTime) tj,COUNT(*) cnt
		FROM cms_comment WHERE DATE_FORMAT( createTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
		GROUP BY MONTH(createTime)
	</select>

	<!-- 查询（按年统计未回复） -->
	<select id="selectByyear0" resultType="com.abc12366.cms.model.bo.CommentTjBo" parameterType="java.lang.String">
		SELECT MONTH(createTime) tj,COUNT(*) cnt
		FROM cms_comment WHERE DATE_FORMAT( createTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) and replyCount = 0
		GROUP BY MONTH(createTime)
	</select>

	<!-- 查询（按年统计已回复） -->
	<select id="selectByyear1" resultType="com.abc12366.cms.model.bo.CommentTjBo" parameterType="java.lang.String">
		SELECT MONTH(createTime) tj,COUNT(*) cnt
		FROM cms_comment WHERE DATE_FORMAT( createTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) and replyCount > 0
		GROUP BY MONTH(createTime)
	</select>


</mapper>