<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db2.ContentRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		contentId,	channelId,	typeId,contentType,	modelId,	siteId,	sortDate,	topLevel,	hasTitleImg,	isRecommend,	status,	viewsDay,	commentsDay,	downloadsDay,	upsDay,username,userid,	recommendLevel
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.cms.model.Content" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cms_content
		 WHERE contentId = #{contentId}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByChannelId" resultType="java.lang.Long" parameterType="java.lang.String">
		SELECT count(contentId) cnt
		FROM cms_content
		WHERE channelId = #{channelId}
	</select>

	<!-- 查询（根据查询条件查询） -->
	<select id="selectList" resultType="com.abc12366.cms.model.bo.ContentListBo" parameterType="java.util.Map">
		SELECT
			a.contentId contentId,
            a.userid userid,
            a.username username,
			b.title title,
			b.titleColor titleColor,
			a.channelId channelId,
			c.channelName channelName,
			a.topLevel topLevel,
			a.typeId typeId,
			b.author author,
			e.views views,
			b.releaseDate releaseDate,
			a.status STATUS,
			b.needRegenerate needRegenerate,
			b.staticLink,
            s.siteName,
			a.recommendLevel recommendLevel
		FROM cms_content a LEFT JOIN cms_content_ext b ON a.contentId = b.contentId
		LEFT JOIN cms_channel c ON a.channelId = c.channelId
        LEFT JOIN cms_site s ON a.siteId = s.siteId
		LEFT JOIN cms_content_count e ON a.contentId = e.contentId
		WHERE 1=1
		<if test="title != null and title != ''">
			AND b.title like CONCAT('%',#{title},'%')
		</if>
		<if test="username != null and username != ''">
			AND a.username like CONCAT('%',#{username},'%')
		</if>
		<if test="typeId != null and typeId != ''">
			AND a.typeId = #{typeId}
		</if>
		<if test="topLevel != null and topLevel != ''">
			AND a.topLevel = #{topLevel}
		</if>
		<if test="status != null and status != ''">
			AND a.status = #{status}
		</if>
		<if test="recommendLevel != null and recommendLevel != ''">
			AND a.recommendLevel = #{recommendLevel}
		</if>
		<if test="channelId != null and channelId != ''">
			AND a.channelId = #{channelId}
		</if>
		ORDER BY a.topLevel,a.recommendLevel,b.releaseDate DESC
	</select>

    <!-- 查询（根据查询条件查询） -->
    <select id="selectListByviews" resultType="com.abc12366.cms.model.bo.ContentsListBo" parameterType="java.util.Map">
        SELECT
        a.contentId contentId,
        a.userid userid,
        a.username username,
        b.title title,
        a.contentType,
        b.titleImg,
        b.origin,
        b.description,
        b.titleColor titleColor,
        a.channelId channelId,
        c.channelName channelName,
        a.topLevel topLevel,
        a.typeId typeId,
        b.author author,
        e.views views,
        b.releaseDate releaseDate,
        a.status STATUS,
        b.needRegenerate needRegenerate,
        a.recommendLevel recommendLevel,
        b.staticLink,
        d.siteName,
        c.channelPath,d.sitePath,d.domain
        FROM cms_content a LEFT JOIN cms_contenttagid t ON t.contentId = a.contentId
        LEFT JOIN cms_content_ext b ON a.contentId = b.contentId
        LEFT JOIN cms_channel c ON a.channelId = c.channelId
        LEFT JOIN cms_site d ON a.siteId = d.siteId
        LEFT JOIN cms_content_count e ON a.contentId = e.contentId
        WHERE a.status = 2 AND b.needRegenerate = 1
        <if test="tagId != null and tagId != ''">
            AND t.tagId = #{tagId}
        </if>
        <if test="channelId != null and channelId != ''">
            AND a.channelId = #{channelId}
        </if>
        <if test="siteId != null and siteId != ''">
            AND a.siteId = #{siteId}
        </if>
        ORDER BY e.views DESC
    </select>

	<!-- 查询（根据查询条件查询） -->
	<select id="selectListByTplContent" resultType="com.abc12366.cms.model.bo.ContentsListBo" parameterType="java.util.Map">
		SELECT
		a.contentId contentId,
		a.typeId typeId
		FROM cms_content a LEFT JOIN cms_content_ext b ON a.contentId = b.contentId
		WHERE 1=1
		<if test="typeId != null and typeId != ''">
			AND a.typeId = #{typeId}
		</if>
		<if test="channelId != null and channelId != ''">
			AND a.channelId = #{channelId}
		</if>
		<if test="status != null and status != ''">
			AND a.status = #{status}
		</if>
		<if test="tplContent != null and tplContent != ''">
			AND b.tplContent = #{tplContent}
		</if>
		<if test="needRegenerate != null and needRegenerate != ''">
			AND b.needRegenerate = #{needRegenerate}
		</if>
		<if test="startTime!=null and startTime!=''">
			AND UNIX_TIMESTAMP(b.releaseDate) &gt;= #{startTime}
		</if>
		<if test="endTime!=null and endTime!=''">
			AND UNIX_TIMESTAMP(b.releaseDate) &lt;= #{endTime}
		</if>
		ORDER BY a.topLevel,a.recommendLevel,b.releaseDate DESC
	</select>

	<!-- 查询（根据查询条件查询） -->
	<select id="selectListByContentType" resultType="com.abc12366.cms.model.bo.ContentsListBo" parameterType="java.util.Map">
		SELECT
		a.contentId contentId,
        a.userid userid,
        a.username username,
		b.title title,
		a.contentType,
		b.titleImg,
        b.origin,
		b.description,
		b.titleColor titleColor,
		a.channelId channelId,
		c.channelName channelName,
		a.topLevel topLevel,
		a.typeId typeId,
		b.author author,
		e.views views,
		b.releaseDate releaseDate,
		a.status STATUS,
		b.needRegenerate needRegenerate,
		a.recommendLevel recommendLevel,
		b.staticLink,
        d.siteName,
		c.channelPath,d.sitePath,d.domain
		FROM cms_content a LEFT JOIN cms_contenttagid t ON t.contentId = a.contentId
        LEFT JOIN cms_content_ext b ON a.contentId = b.contentId
		LEFT JOIN cms_channel c ON a.channelId = c.channelId
		LEFT JOIN cms_site d ON a.siteId = d.siteId
		LEFT JOIN cms_content_count e ON a.contentId = e.contentId
		WHERE a.status = 2 AND b.needRegenerate = 1
		<if test="tagId != null and tagId != ''">
			AND t.tagId = #{tagId}
		</if>
		<if test="channelId != null and channelId != ''">
			AND a.channelId = #{channelId}
		</if>
		<if test="siteId != null and siteId != ''">
			AND a.siteId = #{siteId}
		</if>
		<if test="startTime!=null and startTime!=''">
			AND UNIX_TIMESTAMP(b.releaseDate) &gt;= #{startTime}
		</if>
		<if test="endTime!=null and endTime!=''">
			AND UNIX_TIMESTAMP(b.releaseDate) &lt;= #{endTime}
		</if>
		ORDER BY b.releaseDate DESC
	</select>

	<!-- 查询（根据channelId查询） -->
	<select id="selectContentType" resultType="com.abc12366.cms.model.bo.ContenttagidBo" parameterType="java.util.Map">
		SELECT
		a.tagId,COUNT(a.tagId) priority
		FROM cms_contenttagid a LEFT JOIN cms_content b ON a.contentId = b.contentId
		WHERE 1=1
		<if test="siteId != null and siteId != ''">
			AND b.siteId = #{siteId}
		</if>
        <if test="channelId != null and channelId != ''">
            AND b.channelId = #{channelId}
        </if>
		GROUP BY a.tagId
	</select>

	<!-- 查询（根据查询条件查询） -->
	<select id="selectCntByChannelId" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
		COUNT(a.contentId) cnt
		FROM cms_content a LEFT JOIN cms_content_ext b ON a.contentId = b.contentId
		LEFT JOIN cms_channel c ON a.channelId = c.channelId
		LEFT JOIN cms_site d ON a.siteId = d.siteId
		LEFT JOIN cms_content_count e ON a.contentId = e.contentId
        LEFT JOIN cms_content_topic t ON a.contentId = t.contentId
		WHERE a.status = 2 and b.needRegenerate = 0
		<if test="typeId != null and typeId != ''">
			AND a.typeId = #{typeId}
		</if>
		<if test="channelName != null and channelName != ''">
			AND c.channelName = #{channelName}
		</if>
		<if test="channelId != null and channelId != ''">
			AND a.channelId = #{channelId}
		</if>
		<if test="tplContent != null and tplContent != ''">
			AND b.tplContent = #{tplContent}
		</if>
        <if test="topicId != null and topicId != ''">
            AND t.topicId = #{topicId}
        </if>
		<if test="startTime!=null and startTime!=''">
			AND UNIX_TIMESTAMP(b.releaseDate) &gt;= #{startTime}
		</if>
		<if test="endTime!=null and endTime!=''">
			AND UNIX_TIMESTAMP(b.releaseDate) &lt;= #{endTime}
		</if>
		ORDER BY a.topLevel,a.recommendLevel,b.releaseDate DESC
	</select>

	<!-- 查询（根据查询条件查询） -->
	<select id="selectListByChannelId" resultType="com.abc12366.cms.model.bo.ContentsListBo" parameterType="java.util.Map">
		SELECT
		a.contentId contentId,
        a.userid userid,
        a.username username,
		b.title title,
		a.contentType,
		b.titleImg,
        b.origin,
		b.description,
		b.titleColor titleColor,
		a.channelId channelId,
		c.channelName channelName,
		a.topLevel topLevel,
		a.typeId typeId,
		b.author author,
		e.views views,
		b.releaseDate releaseDate,
		a.status STATUS,
		b.needRegenerate needRegenerate,
		a.recommendLevel recommendLevel,
		b.staticLink,
        d.siteName,
		c.channelPath,d.sitePath,d.domain
		FROM cms_content a LEFT JOIN cms_content_ext b ON a.contentId = b.contentId
		LEFT JOIN cms_channel c ON a.channelId = c.channelId
		LEFT JOIN cms_site d ON a.siteId = d.siteId
		LEFT JOIN cms_content_count e ON a.contentId = e.contentId
        LEFT JOIN cms_content_topic t ON a.contentId = t.contentId
		WHERE a.status = 2
		<if test="typeId != null and typeId != ''">
			AND a.typeId = #{typeId}
		</if>
		<if test="channelName != null and channelName != ''">
			AND c.channelName = #{channelName}
		</if>
		<if test="channelId != null and channelId != ''">
			AND a.channelId = #{channelId}
		</if>
		<if test="tplContent != null and tplContent != ''">
			AND b.tplContent = #{tplContent}
		</if>
		<if test="needRegenerate != null and needRegenerate != ''">
			AND b.needRegenerate = #{needRegenerate}
		</if>
        <if test="topicId != null and topicId != ''">
            AND t.topicId = #{topicId}
        </if>
		<if test="startTime!=null and startTime!=''">
			AND UNIX_TIMESTAMP(b.releaseDate) &gt;= #{startTime}
		</if>
		<if test="endTime!=null and endTime!=''">
			AND UNIX_TIMESTAMP(b.releaseDate) &lt;= #{endTime}
		</if>
		ORDER BY a.topLevel,a.recommendLevel,b.releaseDate DESC
	</select>


	<!-- 查询（根据查询条件查询） -->
	<select id="selectListBytopicId" resultType="com.abc12366.cms.model.bo.ContentsListBo" parameterType="java.util.Map">
		SELECT
		a.contentId contentId,
        a.userid userid,
        a.username username,
		b.title title,
		a.contentType,
		b.titleImg,
        b.origin,
		b.description,
		b.titleColor titleColor,
		a.channelId channelId,
		a.topLevel topLevel,
		a.typeId typeId,
		b.author author,
		e.views views,
		b.releaseDate releaseDate,
		a.status STATUS,
		b.needRegenerate needRegenerate,
		a.recommendLevel recommendLevel,
		b.staticLink,
        d.siteName,
		c.channelPath,d.sitePath,d.domain
		FROM cms_content a LEFT JOIN cms_content_ext b ON a.contentId = b.contentId
		LEFT JOIN cms_content_topic c ON a.contentId = c.topicId
		LEFT JOIN cms_site d ON a.siteId = d.siteId
		LEFT JOIN cms_content_count e ON a.contentId = e.contentId
		WHERE 1=1
		<if test="typeId != null and typeId != ''">
			AND a.typeId = #{typeId}
		</if>
		<if test="status != null and status != ''">
			AND a.status = #{status}
		</if>
		<if test="topicId != null and topicId != ''">
			AND c.topicId = #{topicId}
		</if>
		<if test="tplContent != null and tplContent != ''">
			AND b.tplContent = #{tplContent}
		</if>
		<if test="needRegenerate != null and needRegenerate != ''">
			AND b.needRegenerate = #{needRegenerate}
		</if>
		<if test="startTime!=null and startTime!=''">
			AND UNIX_TIMESTAMP(b.releaseDate) &gt;= #{startTime}
		</if>
		<if test="endTime!=null and endTime!=''">
			AND UNIX_TIMESTAMP(b.releaseDate) &lt;= #{endTime}
		</if>
		ORDER BY a.topLevel,a.recommendLevel,b.releaseDate DESC
	</select>


	<!-- 查询（根据contentId查询） -->
	<select id="selectByContentId" resultType="com.abc12366.cms.model.Content" parameterType="java.lang.String">
		SELECT
			a.contentId,a.userid userid,
            a.username username,	a.channelId,	a.typeId,a.contentType,	a.modelId,	a.siteId,
			a.sortDate,	a.topLevel,	a.hasTitleImg,	a.isRecommend,	a.status,
			a.viewsDay,	a.commentsDay,	a.downloadsDay,	a.upsDay,a.recommendLevel,
			b.channelPath,c.sitePath,c.domain
		FROM cms_content a LEFT JOIN cms_channel b ON a.channelId = b.channelId
			LEFT JOIN cms_site c ON a.siteId = c.siteId
		WHERE a.contentId = #{contentId}
	</select>


	<!-- 查询（根据ReleaseDate查询下一篇） -->
	<select id="selectByReleaseDateAsc" resultType="com.abc12366.cms.model.bo.ContentudBo" parameterType="java.util.Map">
		SELECT a.contentId,b.title,c.channelPath,d.sitePath,'down' upordown FROM cms_content a LEFT JOIN cms_content_ext b ON a.contentId = b.contentId
			LEFT JOIN cms_channel c ON a.channelId = c.channelId LEFT JOIN cms_site d ON a.siteId = d.siteId
		WHERE UNIX_TIMESTAMP(b.releaseDate) &gt; #{releaseDate} AND a.channelId = #{channelId} ORDER BY UNIX_TIMESTAMP(b.releaseDate) ASC LIMIT 1;
	</select>

	<!-- 查询（根据ReleaseDate查询上一篇） -->
	<select id="selectByReleaseDateDesc" resultType="com.abc12366.cms.model.bo.ContentudBo" parameterType="java.util.Map">
		SELECT a.contentId,b.title,c.channelPath,d.sitePath,d.domain domain,'up' upordown FROM cms_content a LEFT JOIN cms_content_ext b ON a.contentId = b.contentId
		LEFT JOIN cms_channel c ON a.channelId = c.channelId LEFT JOIN cms_site d ON a.siteId = d.siteId
		WHERE UNIX_TIMESTAMP(b.releaseDate) &lt; #{releaseDate} AND a.channelId = #{channelId} ORDER BY UNIX_TIMESTAMP(b.releaseDate) DESC LIMIT 1;
	</select>



</mapper>