<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db2.ContentExtRoMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        contentId, title, shortTitle, author, origin, originUrl, description, releaseDate, mediaPath,
        mediaType,titleColor,isBold, titleImg, contentImg, typeImg, link, tplContent, needRegenerate,
        toplevelDate,staticLink, pigeonholeDate
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByPrimaryKey" resultType="com.abc12366.cms.model.ContentExt" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cms_content_ext
        WHERE contentId = #{contentId}
    </select>

    <!-- 查询（根据contentId查询） -->
    <select id="selectByContentId" resultType="com.abc12366.cms.model.ContentExt" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cms_content_ext
        WHERE contentId = #{contentId}
    </select>


</mapper>