<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db2.CurriculumStudyRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 studyId,	curriculumId,	coursewareId,	userId,	username,	nickname,	memberGrade,	studyTime,	studyDuration,	coursewareDuration,	visitIP,	visitSite
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.cms.model.curriculum.CurriculumStudy" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cms_curriculum_study
		 WHERE studyId = #{studyId}
	</select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectList" resultType="com.abc12366.cms.model.curriculum.bo.CurriculumStudyBo" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List" />
        FROM cms_curriculum_study
        WHERE 1=1
        <if test="begintime != null">
            <![CDATA[
              and date_format(studyTime, '%Y%m%d') >= date_format(#{begintime}, '%Y%m%d')
                ]]>
        </if>
        <if test="endtime != null">
            <![CDATA[
              and date_format(studyTime, '%Y%m%d') <= date_format(#{endtime}, '%Y%m%d')
              ]]>
        </if>
        <if test="curriculumId != null and curriculumId != ''">
            AND curriculumId = #{curriculumId}
        </if>
    </select>

</mapper>