<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db2.EventApplyRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 applyId,	eventId,	source,	name,	tel,	email,	applytime,	status
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.cms.model.EventApply" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cms_event_apply
		 WHERE applyId = #{applyId}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectList" resultType="com.abc12366.cms.model.bo.EventApplyBo" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM cms_event_apply
		WHERE 1=1
		<if test="name != null and name != ''">
			AND (name like CONCAT('%',#{name},'%') or tel like CONCAT('%',#{name},'%') or email like CONCAT('%',#{name},'%') )
		</if>
		<if test="status != null and status != ''">
			AND status = #{status}
		</if>
	</select>

</mapper>