<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db2.ModelRoMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        modelId, modelName, modelPath, tplChannelPrefix, tplContentPrefix, titleImgWidth, titleImgHeight,
        contentImgWidth, contentImgHeight, priority, hasContent, isDisabled, isDef, isGlobal, siteId
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByPrimaryKey" resultType="com.abc12366.cms.model.Model" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cms_model
        WHERE modelId = #{modelId}
    </select>

    <!-- 查询（查询列表） -->
    <select id="selectList" resultType="com.abc12366.cms.model.bo.ModelBo" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cms_model
        ORDER BY priority ASC
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectConByModelId" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(contentId) cnt
        FROM cms_content
        WHERE modelId = #{modelId}
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectChaByModelId" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(channelId) cnt
        FROM cms_channel
        WHERE modelId = #{modelId}
    </select>


</mapper>