<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db2.PlugRoMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        plugId, name, path, description, author, uploadTime, installTime, uninstallTime, fileConflict, isUsed,
        plugPerms, plugRepair
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByPrimaryKey" resultType="com.abc12366.cms.model.Plug" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cms_plug
        WHERE plugId = #{plugId}
    </select>


</mapper>