<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db1.InvoiceDistributeMapper">

	<!--删除：根据主键ID删除-->
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM uc_invoice_distribute
		WHERE id = #{id}
	</delete>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.abc12366.uc.model.invoice.InvoiceDistribute">
		INSERT INTO uc_invoice_distribute
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				id,
			</if>
			<if test="invoiceRepoId != null">
				invoiceRepoId,
			</if>
			<if test="invoiceCode != null">
				invoiceCode,
			</if>
			<if test="invoiceNoStart != null">
				invoiceNoStart,
			</if>
			<if test="invoiceNoEnd != null">
				invoiceNoEnd,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="share != null">
				share,
			</if>
			<if test="book != null">
				book,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="useId != null">
				useId,
			</if>
			<if test="invoiceTypeCode != null">
				invoiceTypeCode,
			</if>
			<if test="distributeUser != null">
				distributeUser,
			</if>
			<if test="distributeTime != null">
				distributeTime,
			</if>
			<if test="signUser != null">
				signUser,
			</if>
			<if test="signTime != null">
				signTime,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				#{id},
			</if>
			<if test="invoiceRepoId!=null">
				#{invoiceRepoId},
			</if>
			<if test="invoiceCode!=null">
				#{invoiceCode},
			</if>
			<if test="invoiceNoStart!=null">
				#{invoiceNoStart},
			</if>
			<if test="invoiceNoEnd!=null">
				#{invoiceNoEnd},
			</if>
			<if test="status!=null">
				#{status},
			</if>
			<if test="share!=null">
				#{share},
			</if>
			<if test="book!=null">
				#{book},
			</if>
			<if test="remark!=null">
				#{remark},
			</if>
			<if test="useId!=null">
				#{useId},
			</if>
			<if test="invoiceTypeCode!=null">
				#{invoiceTypeCode},
			</if>
			<if test="distributeUser!=null">
				#{distributeUser},
			</if>
			<if test="distributeTime!=null">
				#{distributeTime},
			</if>
			<if test="signUser!=null">
				#{signUser},
			</if>
			<if test="signTime!=null">
				#{signTime},
			</if>
		</trim>
	</insert>

	<!-- 修 改-->
	<update id="update" parameterType="com.abc12366.uc.model.invoice.InvoiceDistribute">
		UPDATE uc_invoice_distribute
		<set>
			<if test="invoiceRepoId != null">
				invoiceRepoId = #{invoiceRepoId},
			</if>
			<if test="invoiceCode != null">
				invoiceCode = #{invoiceCode},
			</if>
			<if test="invoiceNoStart != null">
				invoiceNoStart = #{invoiceNoStart},
			</if>
			<if test="invoiceNoEnd != null">
				invoiceNoEnd = #{invoiceNoEnd},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="share != null">
				share = #{share},
			</if>
			<if test="book != null">
				book = #{book},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="useId != null">
				useId = #{useId},
			</if>
			<if test="invoiceTypeCode != null">
				invoiceTypeCode = #{invoiceTypeCode},
			</if>
			<if test="distributeUser != null">
				distributeUser = #{distributeUser},
			</if>
			<if test="distributeTime != null">
				distributeTime = #{distributeTime},
			</if>
			<if test="signUser != null">
				signUser = #{signUser},
			</if>
			<if test="signTime != null">
				signTime = #{signTime},
			</if>

		</set>
		WHERE id = #{id}
	</update>


</mapper>