<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db1.LotteryTimeMapper">
    <insert id="insert" parameterType="com.abc12366.uc.model.LotteryTime">
insert into uc_lottery_time(
id,createTime,lastUpdate,startTime,endTime,luck,activityId
)values(
#{id},#{createTime},#{lastUpdate},#{startTime},#{endTime},#{luck},#{activityId})
</insert>
    <update id="update" parameterType="com.abc12366.uc.model.LotteryTime">
        update uc_lottery_time
        <set>
            <if test="createTime!=null">createTime=#{createTime},</if>
            <if test="lastUpdate!=null">lastUpdate=#{lastUpdate},</if>
            <if test="startTime!=null">startTime=#{startTime},</if>
            <if test="endTime!=null">endTime=#{endTime},</if>
            <if test="luck!=null">luck=#{luck},</if>
            <if test="activityId!=null">activityId=#{activityId}</if>

        </set>
        where id=#{id}
    </update>
    <delete id="delete" parameterType="java.lang.String">
delete from uc_lottery_time 
where id=#{id}
</delete>
</mapper>
