<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db1.OrderGiftMapper">


	<!--删除：根据主键ID删除-->
	<delete id="delete" parameterType="java.lang.String">
		 DELETE FROM uc_order_gift
		 WHERE id = #{id}
	</delete>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.abc12366.uc.model.order.OrderGift">
		 INSERT INTO uc_order_gift
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="giftId != null">
				 giftId,
			</if>
			<if test="operSymbol != null">
				 operSymbol,
			</if>
			<if test="operType != null">
				 operType,
			</if>
			<if test="operValue != null">
				 operValue,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="giftId!=null">
				 #{giftId},
			</if>
			<if test="operSymbol!=null">
				 #{operSymbol},
			</if>
			<if test="operType!=null">
				 #{operType},
			</if>
			<if test="operValue!=null">
				 #{operValue},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="update" parameterType="com.abc12366.uc.model.order.OrderGift">
		 UPDATE uc_order_gift
 		 <set> 
			<if test="giftId != null">
				 giftId = #{giftId},
			</if>
			<if test="operSymbol != null">
				 operSymbol = #{operSymbol},
			</if>
			<if test="operType != null">
				 operType = #{operType},
			</if>
			<if test="operValue != null">
				 operValue = #{operValue},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

</mapper>