<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db1.PrivilegeLogMapper">

    <insert id="insert" parameterType="com.abc12366.uc.model.PrivilegeLog">
        insert into uc_uvip_privilege_log (id,userId,dateType,logType,createTiem)
        values(#{id},#{userId},#{dateType},#{logType},#{createTiem})
    </insert>

</mapper>