<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db1.TodoTaskMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id,userId,sysTaskId, allCount, finishedCount, awardType, type,award, status,createTime,
		lastUpdate,skipUrl,ruleId,dateType,startTime,endTime
	</sql>

    <insert id="insert" parameterType="com.abc12366.uc.model.TodoTask">
        insert into uc_user_task_todo(<include refid="Base_Column_List"/>)
        values(#{id},#{userId},#{sysTaskId},#{allCount},#{finishedCount},#{awardType},#{type},#{award},
        #{status},#{createTime},#{lastUpdate},#{skipUrl},#{ruleId},#{dateType},#{startTime},#{endTime})
    </insert>
    
    <update id="update" parameterType="com.abc12366.uc.model.TodoTask">
        update uc_user_task_todo
        <set>
            <if test="finishedCount!=null">finishedCount=#{finishedCount},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="lastUpdate!=null">lastUpdate=#{lastUpdate},</if>
        </set>
        where id=#{id}
    </update>

    <!--查询特殊任务-->
    <select id="selectSpecial" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        and startTime = #{startTime}
    </select>
    <!--查询一条特定的一次性任务-->
    <select id="selectOneTime" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        ORDER BY lastupdate DESC 
        LIMIT 1
    </select>
    <!--查询一条特定日常任务：每天-->
    <select id="selectOneByDay" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        and type = '2'
        and dateType = 'D'
        and createTime &gt;= (SELECT CURDATE())
        and createTime &lt;(SELECT DATE_SUB(CURDATE(),INTERVAL -1 DAY))
    </select>
    <!--查询一条特定日常任务：每月-->
    <select id="selectOneByMonth" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        and type = '2'
        and dateType = 'M'
        and createTime &gt;= (SELECT DATE_ADD(CURDATE(),INTERVAL -DAY(CURDATE())+1 DAY))
        and createTime &lt;(SELECT DATE_ADD(CURDATE() - DAY(CURDATE()) + 1, INTERVAL 1 MONTH))
    </select>
    <!--查询一条特定日常任务：每年-->
    <select id="selectOneByYear" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        and type = '2'
        and dateType = 'Y'
        and createTime &gt;= (SELECT DATE_SUB(CURDATE(),INTERVAL DAYOFYEAR(NOW())-1 DAY))
        and createTime &lt;(SELECT CONCAT(YEAR(NOW())+1,'-01-01'))
    </select>

    <!--查询一次性任务-->
    <select id="selectListOneTime" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        and type = '1'
        and dateType = 'O'
    </select>
    <!--查询日常任务：每天-->
    <select id="selectListByDay" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        and type = '2'
        and dateType = 'D'
        and createTime &gt;= (SELECT CURDATE())
        and createTime &lt;(SELECT DATE_SUB(CURDATE(),INTERVAL -1 DAY))
    </select>
    <!--查询日常任务：每月-->
    <select id="selectListByMonth" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        and type = '2'
        and dateType = 'M'
        and createTime &gt;= (SELECT DATE_ADD(CURDATE(),INTERVAL -DAY(CURDATE())+1 DAY))
        and createTime &lt;(SELECT DATE_ADD(CURDATE() - DAY(CURDATE()) + 1, INTERVAL 1 MONTH))
    </select>
    <!--查询日常任务：每年-->
    <select id="selectListByYear" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        and type = '2'
        and dateType = 'Y'
        and createTime &gt;= (SELECT DATE_SUB(CURDATE(),INTERVAL DAYOFYEAR(NOW())-1 DAY))
        and createTime &lt;(SELECT CONCAT(YEAR(NOW())+1,'-01-01'))
    </select>
    <select id="selectTimeLimitedOneByUserIdAndSysTaskId" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        and startTime IS NOT NULL
        and endTime IS NOT NULL
        and <![CDATA[  startTime < (SELECT CURDATE())]]>
        and <![CDATA[  endTime > (SELECT CURDATE())]]>
    </select>

    <select id="selectOneByDayBySysTaskId" resultType="com.abc12366.uc.model.TodoTask" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uc_user_task_todo
        WHERE userId = #{userId}
        and sysTaskId = #{sysTaskId}
        and createTime &gt;= (SELECT CURDATE())
        and createTime &lt;(SELECT DATE_SUB(CURDATE(),INTERVAL -1 DAY))
    </select>

</mapper>