<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db1.TodoTaskMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id,userId,sysTaskId, allCount, finishedCount, awardType, type,award, status,createTime,
		lastUpdate,skipUrl,ruleId,dateType,startTime,endTime
	</sql>

    <insert id="insert" parameterType="com.abc12366.uc.model.TodoTask">
        insert into uc_user_task_todo(<include refid="Base_Column_List"/>)
        values(#{id},#{userId},#{sysTaskId},#{allCount},#{finishedCount},#{awardType},#{type},#{award},
        #{status},#{createTime},#{lastUpdate},#{skipUrl},#{ruleId},#{dateType},#{startTime},#{endTime})
    </insert>
    
    <update id="update" parameterType="com.abc12366.uc.model.TodoTask">
        update uc_user_task_todo
        <set>
            <if test="finishedCount!=null">finishedCount=#{finishedCount},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="lastUpdate!=null">lastUpdate=#{lastUpdate},</if>
        </set>
        where id=#{id}
    </update>
</mapper>