<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db1.UcUserLoginLogMapper">
    <insert id="insert" parameterType="com.abc12366.uc.model.bo.UcUserLoginLog">
        insert into uc_user_login_log(id,userId,createTime)
        values(#{id},#{userId},#{createTime})
    </insert>

</mapper>