<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db1.UserBindMapper">

    <insert id="dzsbBind" parameterType="com.abc12366.uc.model.UserDzsb">
        insert into uc_user_dzsb(id, userId, djxh, nsrsbh, nsrmc, shxydm, swjgMc, swjgDm, status,
        createTime,lastUpdate,expireTime,expandExpireTime,frmc,frzjh,lastLoginTime,nsrlx,sfgtjzh)
        values (#{id}, #{userId}, #{djxh}, #{nsrsbh}, #{nsrmc}, #{shxydm}, #{swjgMc}, #{swjgDm}, #{status},
        #{createTime}, #{lastUpdate}, #{expireTime}, #{expandExpireTime}, #{frmc},#{frzjh},#{lastLoginTime},#{nsrlx},#{sfgtjzh})
    </insert>

    <update id="dzsbUnbind" parameterType="java.lang.String">
        update uc_user_dzsb
        <set>
            status=FALSE,
            lastUpdate=now()
        </set>
        where id=#{id}
    </update>

    <insert id="hngsBind" parameterType="com.abc12366.uc.model.UserHngs">
        insert into uc_user_hngs(id, userId, djxh, nsrsbh, nsrmc, shxydm, swjgMc, swjgDm, bsy, smrzzt, status,
        createTime, lastUpdate,roleId)
        values(#{id}, #{userId}, #{djxh}, #{nsrsbh}, #{nsrmc}, #{shxydm}, #{swjgMc}, #{swjgDm},#{bsy},#{smrzzt},
        #{status}, #{createTime}, #{lastUpdate}, #{roleId})
    </insert>

    <update id="hngsUnbind" parameterType="java.lang.String">
        update uc_user_hngs
        <set>
            status=FALSE,
            lastUpdate= now()
        </set>
        where id=#{id}
    </update>
    <insert id="hndsBind" parameterType="com.abc12366.uc.model.UserHnds">
        insert into uc_user_hnds(id, userId, username, subuser, nsrmc, nsrsbh, djxh, shxydm, swjgMc, swjgDm, status,
        createTime, lastUpdate)
        values(#{id}, #{userId}, #{username}, #{subuser}, #{nsrmc}, #{nsrsbh}, #{djxh}, #{shxydm},#{swjgMc}, #{swjgDm},
        #{status}, #{createTime}, #{lastUpdate})
    </insert>

    <update id="hndsUnbind" parameterType="java.lang.String">
        update uc_user_hnds
        <set>
            status=FALSE,
            lastUpdate=now()
        </set>
        where id=#{id}
    </update>

    <update id="update" parameterType="com.abc12366.uc.model.UserDzsb">
        update uc_user_dzsb uud
        <set>
            <if test="status!=null">uud.status = #{status},</if>
            <if test="djxh!=null">uud.djxh = #{djxh},</if>
            <if test="nsrsbh!=null">uud.nsrsbh = #{nsrsbh},</if>
            <if test="nsrmc!=null">uud.nsrmc = #{nsrmc},</if>
            <if test="shxydm!=null">uud.shxydm = #{shxydm},</if>
            <if test="swjgMc!=null">uud.swjgMc = #{swjgMc},</if>
            <if test="swjgDm!=null">uud.swjgDm = #{swjgDm},</if>
            <if test="lastUpdate!=null">uud.lastUpdate = #{lastUpdate},</if>
            <if test="expireTime!=null">uud.expireTime = #{expireTime},</if>
            <if test="expandExpireTime!=null">uud.expandExpireTime = #{expandExpireTime},</if>
            <if test="frmc!=null">uud.frmc = #{frmc},</if>
            <if test="frzjh!=null">uud.frzjh = #{frzjh},</if>
            <if test="lastLoginTime!=null">uud.lastLoginTime = #{lastLoginTime},</if>
            <if test="nsrlx!=null">uud.nsrlx = #{nsrlx},</if>
            <if test="sfgtjzh!=null">uud.sfgtjzh = #{sfgtjzh}</if>
        </set>
        where uud.userId = #{userId}
        and uud.djxh = #{djxh}
    </update>
</mapper>