<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db1.UserTaskMapper">
    <insert id="insert" parameterType="com.abc12366.uc.model.UserTask">
        insert into uc_user_task(id,userId,taskId,status,createTime,lastUpdate)
        values(#{id},#{userId},#{taskId},#{status},#{createTime},#{lastUpdate})
    </insert>
    <update id="update" parameterType="com.abc12366.uc.model.UserTask">
        update uc_user_task
        <set>
            <if test="taskId!=null">taskId=#{taskId},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="lastUpdate!=null">lastUpdate=#{lastUpdate}</if>
        </set>
        where userId=#{userId}
        and id=#{id}
    </update>

    <delete id="delete" parameterType="java.util.Map">
        delete from uc_user_task
        where userId=#{userId}
        and id=#{id}
    </delete>
</mapper>