<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.uc.mapper.db1.VipPrivilegeMapper">
    <insert id="insert" parameterType="com.abc12366.uc.model.VipPrivilege">
        insert into uc_uvip_privilege(id,name,code,icon,description,status,sort,lastUpdate,createTime)
        values(#{id},#{name},#{code},#{icon},#{description},#{status},#{sort},#{lastUpdate},#{createTime})
    </insert>
    <update id="update" parameterType="com.abc12366.uc.model.VipPrivilege">
        update uc_uvip_privilege
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="code!=null">code=#{code},</if>
            <if test="icon!=null">icon=#{icon},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="sort!=null">sort=#{sort},</if>
            <if test="lastUpdate!=null">lastUpdate=#{lastUpdate}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from uc_uvip_privilege
        where id=#{id}
    </delete>
</mapper>