<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.message.mapper.db1.BusinessMsgMapper">

    <sql id="Base_Column">
        id, userId, businessId, content, status, type, createTime, lastUpdate, url, busiType
    </sql>

    <insert id="insert">
       <choose>
            <when test="busiType != 'BANGBANG_YJFK' and busiType != 'KNOWLEDGE_VOTE'">
               INSERT INTO msg_business_message_${dateStr} (<include refid="Base_Column"/>) VALUES
               (#{id}, #{userId}, #{businessId}, #{content}, #{status}, #{type}, #{createTime}, #{lastUpdate}, #{url}, #{busiType})
            </when>
            <otherwise>
               INSERT INTO msg_business_message (<include refid="Base_Column"/>) VALUES
               (#{id}, #{userId}, #{businessId}, #{content}, #{status}, #{type}, #{createTime}, #{lastUpdate}, #{url}, #{busiType})
            </otherwise>
        </choose>
        
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO msg_business_message_${dateStr} (<include refid="Base_Column"/>) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (#{item.id}, #{item.userId}, #{item.businessId}, #{item.content}, #{item.status}, #{item.type}, #{item.createTime}, #{item.lastUpdate}, #{item.url}, #{item.busiType})
        </foreach>
    </insert>

    <update id="update">
        UPDATE msg_business_message_${dateStr}
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="lastUpdate != null">lastUpdate = #{lastUpdate},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM msg_business_message_${dateStr} WHERE id = #{id}
    </delete>
    <update id="updateBatch" parameterType="java.util.List">
        update msg_business_message_${dateStr}
        set status='2',lastUpdate=now()
        where id in
        <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>
    
    <select id="createTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS msg_business_message_${_parameter} LIKE msg_business_message
    </select>
    
</mapper>