<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.message.mapper.db1.SmsLogMapper">
    <insert id="smsVerifyCodeInsert" parameterType="com.abc12366.message.model.bo.SmsVerifyCode">
		insert into sys_sms_verifycode(id,mobile,deviceId,templateid,code,msg,obj,createTime,lastUpdate)
		values (#{id},#{mobile},#{deviceId},#{templateid},#{code},#{msg},#{obj},#{createTime},#{lastUpdate})
	</insert>

    <insert id="smsOpsLogInsert" parameterType="com.abc12366.message.model.bo.SmsOpsLog">
		insert into sys_sms_opslog(id,templateid,mobiles,params,code,msg,obj,createTime)
		values (#{id},#{templateid},#{mobiles},#{params},#{code},#{msg},#{obj},#{createTime})
	</insert>

    <insert id="smsOpsInsert" parameterType="com.abc12366.message.model.bo.SmsOps">
		insert into sys_sms_ops(id,mobile,templateid,params,status,updatetime,createTime,lastUpdate,sendid)
		values (#{id},#{mobile},#{templateid},#{params},#{status},#{updatetime},#{createTime},#{lastUpdate},#{sendid})
	</insert>
    <update id="smsOpsUpdate" parameterType="com.abc12366.message.model.bo.SmsOps">
        update sys_sms_ops
        <set>
            <if test="status!=null">status=#{status},</if>
            <if test="updatetime!=null">updatetime=#{updatetime},</if>
            <if test="lastUpdate!=null">lastUpdate=#{lastUpdate}</if>
        </set>
        where sendid=#{sendid}
        and mobile=#{mobile}
    </update>
</mapper>