<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.message.mapper.db1.SubscriptionMapper">
    <sql id="Base_Column">
        id, type, busiType, hasWeb, webForce, hasWechat, wechatForce, hasMessage, messageForce, createTime, lastUpdate
    </sql>
    
    <sql id="Base_user_Column">
        id, userId, settingId, web, wechat, message, createTime, lastUpdate
    </sql>
    
    <insert id="addOneSetting" parameterType="com.abc12366.message.model.Subscriptions">
        INSERT INTO msg_subscription_setting 
        (<include refid="Base_Column"/>) 
        VALUES
        (#{id}, #{type}, #{busiType}, #{hasWeb}, #{webForce}, #{hasWechat}, #{wechatForce}, #{hasMessage}, #{messageForce}, #{createTime}, #{lastUpdate})
    </insert>
    
    <update id="updateOneSetting" parameterType="com.abc12366.message.model.Subscriptions">
        UPDATE msg_subscription_setting
        <set>
            <if test="type != null">type = #{type},</if>
            <if test="busiType != null">busiType = #{busiType},</if>
            <if test="hasWeb != null">hasWeb = #{hasWeb},</if>
            <if test="webForce != null">webForce = #{webForce},</if>
            <if test="hasWechat != null">hasWechat = #{hasWechat},</if>
            <if test="wechatForce != null">wechatForce = #{wechatForce},</if>
            <if test="hasMessage != null">hasMessage = #{hasMessage},</if>
            <if test="messageForce != null">messageForce = #{messageForce},</if>
            <if test="lastUpdate != null">lastUpdate = #{lastUpdate},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="delOneSetting" parameterType="java.lang.String">
        DELETE FROM msg_subscription_setting WHERE id = #{id}
    </delete>
    
    
    <delete id="delUserSetting" parameterType="java.lang.String">
        DELETE FROM msg_subscription_user WHERE settingId = #{id}
    </delete>
    
    <delete id="delAUserSetting" parameterType="java.lang.String">
        DELETE FROM msg_subscription_user WHERE userId = #{userId}
    </delete>
    
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO msg_subscription_user 
        (<include refid="Base_user_Column"/>) 
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.userId}, #{item.settingId}, #{item.web}, #{item.wechat}, #{item.message}, #{item.createTime}, #{item.lastUpdate})
        </foreach>
    </insert>
</mapper>