<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db1.AskLogMapper">

    <insert id="insert" parameterType="com.abc12366.bangbang.model.AskLog">
        insert into bb_ask_log(id,userId,askId,createTime)
        values (#{id}, #{userId}, #{askId},#{createTime})
    </insert>
</mapper>