<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db1.CheatsLikeMapper">

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM bb_cheats_like
		 WHERE likeId = #{likeId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.abc12366.bangbang.model.question.CheatsLike">
		 INSERT INTO bb_cheats_like
 		(likeId,id,likeTarget,userId,toUserId,likeTime,cheatsId,likeType,factionId)
		 VALUES 
 		(#{likeId},#{id},#{likeTarget},#{userId},#{toUserId},#{likeTime},#{cheatsId},#{likeType},#{factionId})
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.abc12366.bangbang.model.question.CheatsLike">
		 INSERT INTO bb_cheats_like
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="likeId != null">
				 likeId,
			</if>
			<if test="id != null">
				 id,
			</if>
			<if test="likeTarget != null">
				 likeTarget,
			</if>
			<if test="userId != null">
				 userId,
			</if>
			<if test="likeTime != null">
				 likeTime,
			</if>
			<if test="cheatsId != null">
				 cheatsId,
			</if>
			<if test="likeType != null">
				 likeType,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="likeId!=null">
				 #{likeId},
			</if>
			<if test="id!=null">
				 #{id},
			</if>
			<if test="likeTarget!=null">
				 #{likeTarget},
			</if>
			<if test="userId!=null">
				 #{userId},
			</if>
			<if test="likeTime!=null">
				 #{likeTime},
			</if>
			<if test="cheatsId!=null">
				 #{cheatsId},
			</if>
			<if test="likeType!=null">
				 #{likeType},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.abc12366.bangbang.model.question.CheatsLike">
		 UPDATE bb_cheats_like
 		 <set> 
			<if test="id != null">
				 id = #{id},
			</if>
			<if test="likeTarget != null">
				 likeTarget = #{likeTarget},
			</if>
			<if test="userId != null">
				 userId = #{userId},
			</if>
			<if test="likeTime != null">
				 likeTime = #{likeTime},
			</if>
			<if test="cheatsId != null">
				 cheatsId = #{cheatsId},
			</if>
			<if test="likeType != null">
				 likeType = #{likeType},
			</if>

 		 </set>
		 WHERE likeId = #{likeId}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.abc12366.bangbang.model.question.CheatsLike">
		 UPDATE bb_cheats_like
		 SET 
			 id = #{id},
			 likeTarget = #{likeTarget},
			 userId = #{userId},
			 likeTime = #{likeTime},
			 cheatsId = #{cheatsId},
			 likeType = #{likeType}
		 WHERE likeId = #{likeId}
	</update>

</mapper>