<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db1.CurriculumBrowserWatchMapper">

	<!-- 添加 -->
	<insert id="insert" parameterType="com.abc12366.bangbang.model.curriculum.CurriculumBrowserWatch">
		 INSERT INTO bb_curriculum_browser_watch
 		(id, curriculum_id, browseNum, watchNum , date)
		 VALUES 
 		(#{id},#{curriculumId}, #{browseNum},#{watchNum}, CURDATE())
	</insert>


	<!-- 修 改-->
	<update id="updateBrowseNum" parameterType="java.lang.String">
		 UPDATE bb_curriculum_browser_watch SET browseNum = browseNum +1
		 WHERE date =  CURDATE() and curriculum_id =  #{curriculumId}
	</update>

	<!-- 修 改-->
	<update id="updateWatchNum" parameterType="java.lang.String">
		UPDATE bb_curriculum_browser_watch SET watchNum = watchNum +1
		WHERE date =  CURDATE() and curriculum_id =  #{curriculumId}
	</update>
</mapper>