<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db1.CurriculumClassifyMapper">

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM bb_curriculum_classify
		 WHERE classifyId like CONCAT(#{classifyId},'%')
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.abc12366.bangbang.model.curriculum.CurriculumClassify">
		 INSERT INTO bb_curriculum_classify
 		(classifyId,parentId,classifyName,priority,isDisplay)
		 VALUES 
 		(#{classifyId},#{parentId},#{classifyName},#{priority},#{isDisplay})
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.abc12366.bangbang.model.curriculum.CurriculumClassify">
		 INSERT INTO bb_curriculum_classify
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="classifyId != null">
                classifyId,
			</if>
			<if test="parentId != null">
                parentId,
			</if>
			<if test="classifyName != null">
                classifyName,
			</if>
             <if test="priority != null">
                 priority,
             </if>
			<if test="isDisplay != null">
                isDisplay,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="classifyId!=null">
				 #{classifyId},
			</if>
			<if test="parentId!=null">
				 #{parentId},
			</if>
			<if test="classifyName!=null">
				 #{classifyName},
			</if>
             <if test="priority!=null">
                 #{priority},
             </if>
			<if test="isDisplay!=null">
				 #{isDisplay},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.abc12366.bangbang.model.curriculum.CurriculumClassify">
		 UPDATE bb_curriculum_classify
 		 <set>
			<if test="parentId != null">
                parentId = #{parentId},
			</if>
             <if test="classifyName != null">
                 classifyName = #{classifyName},
             </if>
			<if test="priority != null">
                priority = #{priority},
			</if>
             <if test="isDisplay != null">
                 isDisplay = #{isDisplay},
             </if>
 		 </set>
		 WHERE classifyId = #{classifyId}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.abc12366.bangbang.model.curriculum.CurriculumClassify">
		 UPDATE bb_curriculum_classify
		 SET 
			 parentId = #{parentId},
			 classifyName = #{classifyName},
			 priority = #{priority},
			 isDisplay = #{isDisplay}
		 WHERE classifyId = #{classifyId}
	</update>

</mapper>