<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db1.QuestionMedalUserMapper">

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM bb_question_medal_user
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.abc12366.bangbang.model.question.QuestionMedalUser">
		 INSERT INTO bb_question_medal_user
 		(id,medalId,userId,medalTime) 
		 VALUES 
 		(#{id},#{medalId},#{userId},#{medalTime}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.abc12366.bangbang.model.question.QuestionMedalUser">
		 INSERT INTO bb_question_medal_user
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="medalId != null">
				 medalId,
			</if>
			<if test="userId != null">
				 userId,
			</if>
			<if test="medalTime != null">
				 medalTime,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="medalId!=null">
				 #{medalId},
			</if>
			<if test="userId!=null">
				 #{userId},
			</if>
			<if test="medalTime!=null">
				 #{medalTime},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.abc12366.bangbang.model.question.QuestionMedalUser">
		 UPDATE bb_question_medal_user
 		 <set> 
			<if test="medalId != null">
				 medalId = #{medalId},
			</if>
			<if test="userId != null">
				 userId = #{userId},
			</if>
			<if test="medalTime != null">
				 medalTime = #{medalTime},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.abc12366.bangbang.model.question.QuestionMedalUser">
		 UPDATE bb_question_medal_user
		 SET 
			 medalId = #{medalId},
			 userId = #{userId},
			 medalTime = #{medalTime}
		 WHERE id = #{id}
	</update>

</mapper>