<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db1.QuestionMedalMapper">

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM bb_question_medal
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.abc12366.bangbang.model.question.QuestionMedal">
		 INSERT INTO bb_question_medal
 		(id,image,name,type,acquireCondition,description,status,updateAdmin,updateTime)
		 VALUES 
 		(#{id},#{image},#{name},#{type},#{acquireCondition},#{description},#{status},#{updateAdmin},now())
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.abc12366.bangbang.model.question.QuestionMedal">
		 INSERT INTO bb_question_medal
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="image != null">
				 image,
			</if>
			<if test="name != null">
				 name,
			</if>
			<if test="type != null">
				 type,
			</if>
			<if test="acquireCondition != null">
				 acquireCondition,
			</if>
			<if test="description != null">
				 description,
			</if>
			<if test="status != null">
				 status,
			</if>
			<if test="updateAdmin != null">
				 updateAdmin,
			</if>
				 updateTime
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="image!=null">
				 #{image},
			</if>
			<if test="name!=null">
				 #{name},
			</if>
			<if test="type!=null">
				 #{type},
			</if>
			<if test="acquireCondition!=null">
				 #{acquireCondition},
			</if>
			<if test="description!=null">
				 #{description},
			</if>
			<if test="status!=null">
				 #{status},
			</if>
			<if test="updateAdmin!=null">
				 #{updateAdmin},
			</if>
			 now()
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.abc12366.bangbang.model.question.QuestionMedal">
		 UPDATE bb_question_medal
 		 <set> 
			<if test="image != null">
				 image = #{image},
			</if>
			<if test="name != null">
				 name = #{name},
			</if>
			<if test="type != null">
				 type = #{type},
			</if>
			<if test="acquireCondition != null">
				 acquireCondition = #{acquireCondition},
			</if>
			<if test="description != null">
				 description = #{description},
			</if>
			<if test="status != null">
				 status = #{status},
			</if>
			<if test="updateAdmin != null">
				 updateAdmin = #{updateAdmin},
			</if>
				 updateTime = now()
 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.abc12366.bangbang.model.question.QuestionMedal">
		 UPDATE bb_question_medal
		 SET 
			 image = #{image},
			 name = #{name},
			 type = #{type},
			 acquireCondition = #{acquireCondition},
			 description = #{description},
			 status = #{status},
			 updateAdmin = #{updateAdmin},
			 updateTime = now()
		 WHERE id = #{id}
	</update>

</mapper>