<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db1.QuestionInviteMapper">

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM bb_question_invite
		 WHERE questionId = #{questionId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.abc12366.bangbang.model.question.QuestionInvite">
		 INSERT INTO bb_question_invite
 		(id,questionId,isRead,userId)
		 VALUES 
 		(#{id},#{questionId},#{isRead},#{userId})
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.abc12366.bangbang.model.question.QuestionInvite">
		 INSERT INTO bb_question_invite
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="questionId != null">
				 questionId,
			</if>
			<if test="userId != null">
				 userId,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="questionId!=null">
				 #{questionId},
			</if>
			<if test="userId!=null">
				 #{userId},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.abc12366.bangbang.model.question.QuestionInvite">
		 UPDATE bb_question_invite
 		 <set> 
			<if test="questionId != null">
				 questionId = #{questionId},
			</if>
			<if test="userId != null">
				 userId = #{userId},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.abc12366.bangbang.model.question.QuestionInvite">
		 UPDATE bb_question_invite
		 SET 
			 questionId = #{questionId},
			 userId = #{userId}
		 WHERE id = #{id}
	</update>

    <!-- 修 改-->
    <update id="updateIsRead" parameterType="com.abc12366.bangbang.model.question.QuestionInvite">
        UPDATE bb_question_invite
        SET
        isRead = 1
        WHERE questionId = #{questionId} and userId = #{userId}
    </update>

</mapper>