<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db1.QuestionFactionClassifyMapper">

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM bb_question_faction_classify
		 WHERE factionId = #{factionId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.abc12366.bangbang.model.question.QuestionFactionClassify">
		 INSERT INTO bb_question_faction_classify
 		(id,factionId,classifyId) 
		 VALUES 
 		(#{id},#{factionId},#{classifyId}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.abc12366.bangbang.model.question.QuestionFactionClassify">
		 INSERT INTO bb_question_faction_classify
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="factionId != null">
				 factionId,
			</if>
			<if test="classifyId != null">
				 classifyId,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="factionId!=null">
				 #{factionId},
			</if>
			<if test="classifyId!=null">
				 #{classifyId},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.abc12366.bangbang.model.question.QuestionFactionClassify">
		 UPDATE bb_question_faction_classify
 		 <set> 
			<if test="factionId != null">
				 factionId = #{factionId},
			</if>
			<if test="classifyId != null">
				 classifyId = #{classifyId},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.abc12366.bangbang.model.question.QuestionFactionClassify">
		 UPDATE bb_question_faction_classify
		 SET 
			 factionId = #{factionId},
			 classifyId = #{classifyId}
		 WHERE id = #{id}
	</update>

</mapper>