<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db1.QuestionFactionMemberLevelMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	name,	answers,	discussions,	adoptions,	createTime,	createAdmin,	updateTime,	updateAdmin
	</sql>


	<!-- 查询列表 -->
	<select id="selectList" resultType="questionFactionMemberLevel">
		SELECT
		<include refid="Base_Column_List" />
		FROM bb_question_faction_member_level
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="questionFactionMemberLevel" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM bb_question_faction_member_level
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM bb_question_faction_member_level
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="questionFactionMemberLevel">
		 INSERT INTO bb_question_faction_member_level
 		(id,name,answers,discussions,adoptions,createTime,createAdmin,updateTime,updateAdmin) 
		 VALUES 
 		(#{id},#{name},#{answers},#{discussions},#{adoptions},now(),#{createAdmin},now(),#{updateAdmin})
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="questionFactionMemberLevel">
		 INSERT INTO bb_question_faction_member_level
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="name != null">
				 name,
			</if>
			<if test="answers != null">
				 answers,
			</if>
			<if test="discussions != null">
				 discussions,
			</if>
			<if test="adoptions != null">
				 adoptions,
			</if>
			<if test="createAdmin != null">
				 createAdmin,
			</if>
			<if test="updateTime != null">
				 updateTime,
			</if>
			<if test="updateAdmin != null">
				 updateAdmin,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="name!=null">
				 #{name},
			</if>
			<if test="answers!=null">
				 #{answers},
			</if>
			<if test="discussions!=null">
				 #{discussions},
			</if>
			<if test="adoptions!=null">
				 #{adoptions},
			</if>
			<if test="createAdmin!=null">
				 #{createAdmin},
			</if>
			<if test="updateTime!=null">
				 #{updateTime},
			</if>
			<if test="updateAdmin!=null">
				 #{updateAdmin},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="questionFactionMemberLevel">
		 UPDATE bb_question_faction_member_level
 		 <set> 
			<if test="name != null">
				 name = #{name},
			</if>
			<if test="answers != null">
				 answers = #{answers},
			</if>
			<if test="discussions != null">
				 discussions = #{discussions},
			</if>
			<if test="adoptions != null">
				 adoptions = #{adoptions},
			</if>
			<if test="createAdmin != null">
				 createAdmin = #{createAdmin},
			</if>
			<if test="updateTime != null">
				 updateTime = #{updateTime},
			</if>
			<if test="updateAdmin != null">
				 updateAdmin = #{updateAdmin},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="questionFactionMemberLevel">
		 UPDATE bb_question_faction_member_level
		 SET 
			 name = #{name},
			 answers = #{answers},
			 discussions = #{discussions},
			 adoptions = #{adoptions},
			 createAdmin = #{createAdmin},
			 updateAdmin = #{updateAdmin},
			 updateTime = now(),
		 WHERE id = #{id}
	</update>

</mapper>