<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.bangbang.mapper.db1.SystemRecordMapper">

    <insert id="insert" parameterType="com.abc12366.bangbang.model.SystemRecord">
        insert into bb_system_record_${yyyyMMdd} (id,userId,sessionId,browseDate,year,week,referer,month,day,hour,
        minute,pageTitle,ruleCode,
        pageUrl,stayLong,feature,appName,ip,location,browseType,browseVersion,os,device,remark,createTime,
        nsrsbh, menua, menub, menuc)
        values (#{id},#{userId},#{sessionId},#{browseDate},#{year},#{week},#{referer},#{month},#{day},#{hour},
        #{minute},#{pageTitle},#{ruleCode},#{pageUrl},#{stayLong},#{feature},#{appName},#{ip},
        #{location},#{browseType},#{browseVersion},#{os},#{device},#{remark},#{createTime},
        #{nsrsbh}, #{menua}, #{menub}, #{menuc})
    </insert>

    <update id="updateStay" parameterType="com.abc12366.bangbang.model.bo.SystemRecordBO">
     update bb_system_record_${yyyyMMdd}
     <set>
         <if test="stayLong!=null">stayLong=#{stayLong}</if>
     </set>
     where id=#{id}
    </update>

    <select id="create" parameterType="com.abc12366.gateway.model.bo.TableBO">
        CREATE TABLE IF NOT EXISTS bb_system_record_${yyyyMMdd} like bb_system_record
    </select>
</mapper>