<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.gateway.mapper.db2.ApiLogRoMapper">
    <select id="selectList" resultType="com.abc12366.gateway.model.ApiLog">
        select id, uri, userAgent, userId, appId, ip, inTime, outTime, status, version,method
        from gw_api_log_${yyyyMMdd}
    </select>

    <select id="selectApiList" resultType="com.abc12366.gateway.model.bo.ApiLogBO" parameterType="java.util.Map">
        SELECT p.nickname as nickname,g.appId as appId,count(g.appId) as appAccessCount FROM gw_api_log_${startTime} g
        LEFT JOIN gw_app p on p.id = g.appId GROUP BY g.appId
    </select>

    <select id="selectApiListByAppId" resultType="com.abc12366.gateway.model.bo.ApiLogBO" parameterType="java.util.Map">
        select id, uri, userAgent, userId, appId, ip, inTime, outTime, status, version,method
        from gw_api_log_${startTime}
        <where>
            <if test="appId != null and appId != ''">
                appId = #{appId}
            </if>
        </where>
    </select>

    <select id="selectListPage" resultType="com.abc12366.gateway.model.ApiLog">
        select id, uri, userAgent, userId, appId, ip, inTime, outTime, status, version,method
        from gw_api_log_${yyyyMMdd}
        <where>
            <if test="uri != null">
                uri = #{uri}
            </if>
        </where>
    </select>

    <select id="selectApiLogCount" resultType="java.lang.Integer" parameterType="com.abc12366.gateway.model.ApiLog">
        select count(*)
        from gw_api_log_${yyyyMMdd}
        <where>
            <if test="startTime != null">
                <![CDATA[
            and inTime >= #{startTime}
            ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[
            and inTime <= #{endTime}
              ]]>
            </if>

            <if test="uri != null">
                and uri = #{uri}
            </if>
            <if test="appId != null">
                and appId = #{appId}
            </if>
            <if test="ip != null">
                and ip = #{ip}
            </if>
            <if test="method != null">
                and method = #{method}
            </if>
        </where>
    </select>

</mapper>