<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.gateway.mapper.db2.AppRoMapper">
    <select id="selectOne" resultType="App">
        SELECT id, name, password, mark, status, createDate, modifyDate
        FROM app
        WHERE id = #{id}
        AND status = '1'
    </select>

    <select id="selectByName" resultType="App">
      SELECT id, name, password, mark, status, createDate, modifyDate
      FROM app
      WHERE name = #{name}
    </select>
</mapper>