<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.gateway.mapper.db2.AppRoMapper">
    <select id="selectOne" resultType="App">
        SELECT id, name, password, accessToken, lastResetTokenTime, startTime, endTime, remark, status,
        createTime, lastUpdate
        FROM gw_app
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="accessToken != null">
                AND accessToken = #{accessToken}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <select id="selectByName" resultType="App">
      SELECT id, name, password, accessToken, lastResetTokenTime, startTime, endTime, remark, status,
      createTime, lastUpdate
      FROM gw_app
      WHERE name = #{name}
    </select>
</mapper>