<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.gateway.mapper.db2.IpSettingRoMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, setTime, sameThreshold, distinctThreshold, disableTime
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByPrimaryKey" resultType="com.abc12366.gateway.model.IpSetting" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gw_ip_setting
        WHERE id = #{id}
    </select>

    <select id="selectOne" resultType="com.abc12366.gateway.model.IpSetting" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gw_ip_setting LIMIT 1
    </select>

</mapper>