<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.admin.mapper.db1.FriendlinkCtgMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	siteId,	friendlinkctgName,	priority
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="friendlinkCtg" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cms_friendlink_ctg
		 WHERE friendlinkctgId = #{friendlinkctgId}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM cms_friendlink_ctg
		 WHERE friendlinkctgId = #{friendlinkctgId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="friendlinkCtg">
		 INSERT INTO cms_friendlink_ctg
 		(friendlinkctgId,siteId,friendlinkctgName,priority) 
		 VALUES 
 		(#{friendlinkctgId},#{siteId},#{friendlinkctgName},#{priority}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="friendlinkCtg">
		 INSERT INTO cms_friendlink_ctg
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="friendlinkctgId != null">
				 friendlinkctgId,
			</if>
			<if test="siteId != null">
				 siteId,
			</if>
			<if test="friendlinkctgName != null">
				 friendlinkctgName,
			</if>
			<if test="priority != null">
				 priority,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="friendlinkctgId!=null">
				 #{friendlinkctgId},
			</if>
			<if test="siteId!=null">
				 #{siteId},
			</if>
			<if test="friendlinkctgName!=null">
				 #{friendlinkctgName},
			</if>
			<if test="priority!=null">
				 #{priority},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="friendlinkCtg">
		 UPDATE cms_friendlink_ctg
 		 <set> 
			<if test="siteId != null">
				 siteId = #{siteId},
			</if>
			<if test="friendlinkctgName != null">
				 friendlinkctgName = #{friendlinkctgName},
			</if>
			<if test="priority != null">
				 priority = #{priority},
			</if>

 		 </set>
		 WHERE friendlinkctgId = #{friendlinkctgId}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="friendlinkCtg">
		 UPDATE cms_friendlink_ctg
		 SET 
			 siteId = #{siteId},
			 friendlinkctgName = #{friendlinkctgName},
			 priority = #{priority}
		 WHERE friendlinkctgId = #{friendlinkctgId}
	</update>

</mapper>