<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db1.AnswerLogMapper">


    <!--删除：根据主键ID删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM cms_paper_answer_log
        WHERE id = #{id}
    </delete>

    <delete id="delete" parameterType="com.abc12366.cms.model.questionnaire.AnswerLog">
        DELETE FROM cms_paper_answer_log
        WHERE id = #{id} AND questionId = #{questionId}
    </delete>

    <!-- 添加 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.abc12366.cms.model.questionnaire.AnswerLog">
        INSERT INTO cms_paper_answer_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="questionId != null">
                questionId,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="weixinId != null">
                weixinId,
            </if>
            <if test="accessTerminal != null">
                accessTerminal,
            </if>
            <if test="ipAddress != null">
                ipAddress,
            </if>
            <if test="startTime != null">
                startTime,
            </if>
            <if test="endTime != null">
                endTime,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="questionId!=null">
                #{questionId},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="weixinId!=null">
                #{weixinId},
            </if>
            <if test="accessTerminal!=null">
                #{accessTerminal},
            </if>
            <if test="ipAddress!=null">
                #{ipAddress},
            </if>
            <if test="startTime!=null">
                #{startTime},
            </if>
            <if test="endTime!=null">
                #{endTime},
            </if>
        </trim>
    </insert>

    <!-- 修 改-->
    <update id="update" parameterType="com.abc12366.cms.model.questionnaire.AnswerLog">
        UPDATE cms_paper_answer_log
        <set>
            <if test="questionId != null">
                questionId = #{questionId},
            </if>
            <if test="userId != null">
                userId = #{userId},
            </if>
            <if test="weixinId != null">
                weixinId = #{weixinId},
            </if>
            <if test="accessTerminal != null">
                accessTerminal = #{accessTerminal},
            </if>
            <if test="ipAddress != null">
                ipAddress = #{ipAddress},
            </if>
            <if test="startTime != null">
                startTime = #{startTime},
            </if>
            <if test="endTime != null">
                endTime = #{endTime},
            </if>

        </set>
        WHERE id = #{id}
    </update>

</mapper>