<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db1.CommentMapper">

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM cms_comment
		 WHERE commentId = #{commentId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="comment">
		 INSERT INTO cms_comment
 		(commentId,commentUserId,replyUserId,contentId,siteId,createTime,replyTime,ups,downs,isRecommend,isChecked,score,parentId,replyCount) 
		 VALUES 
 		(#{commentId},#{commentUserId},#{replyUserId},#{contentId},#{siteId},#{createTime},#{replyTime},#{ups},#{downs},#{isRecommend},#{isChecked},#{score},#{parentId},#{replyCount}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="comment">
		 INSERT INTO cms_comment
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="commentId != null">
				 commentId,
			</if>
			<if test="commentUserId != null">
				 commentUserId,
			</if>
			<if test="replyUserId != null">
				 replyUserId,
			</if>
			<if test="contentId != null">
				 contentId,
			</if>
			<if test="siteId != null">
				 siteId,
			</if>
			<if test="createTime != null">
				 createTime,
			</if>
			<if test="replyTime != null">
				 replyTime,
			</if>
			<if test="ups != null">
				 ups,
			</if>
			<if test="downs != null">
				 downs,
			</if>
			<if test="isRecommend != null">
				 isRecommend,
			</if>
			<if test="isChecked != null">
				 isChecked,
			</if>
			<if test="score != null">
				 score,
			</if>
			<if test="parentId != null">
				 parentId,
			</if>
			<if test="replyCount != null">
				 replyCount,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="commentId!=null">
				 #{commentId},
			</if>
			<if test="commentUserId!=null">
				 #{commentUserId},
			</if>
			<if test="replyUserId!=null">
				 #{replyUserId},
			</if>
			<if test="contentId!=null">
				 #{contentId},
			</if>
			<if test="siteId!=null">
				 #{siteId},
			</if>
			<if test="createTime!=null">
				 #{createTime},
			</if>
			<if test="replyTime!=null">
				 #{replyTime},
			</if>
			<if test="ups!=null">
				 #{ups},
			</if>
			<if test="downs!=null">
				 #{downs},
			</if>
			<if test="isRecommend!=null">
				 #{isRecommend},
			</if>
			<if test="isChecked!=null">
				 #{isChecked},
			</if>
			<if test="score!=null">
				 #{score},
			</if>
			<if test="parentId!=null">
				 #{parentId},
			</if>
			<if test="replyCount!=null">
				 #{replyCount},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="comment">
		 UPDATE cms_comment
 		 <set> 
			<if test="commentUserId != null">
				 commentUserId = #{commentUserId},
			</if>
			<if test="replyUserId != null">
				 replyUserId = #{replyUserId},
			</if>
			<if test="contentId != null">
				 contentId = #{contentId},
			</if>
			<if test="siteId != null">
				 siteId = #{siteId},
			</if>
			<if test="createTime != null">
				 createTime = #{createTime},
			</if>
			<if test="replyTime != null">
				 replyTime = #{replyTime},
			</if>
			<if test="ups != null">
				 ups = #{ups},
			</if>
			<if test="downs != null">
				 downs = #{downs},
			</if>
			<if test="isRecommend != null">
				 isRecommend = #{isRecommend},
			</if>
			<if test="isChecked != null">
				 isChecked = #{isChecked},
			</if>
			<if test="score != null">
				 score = #{score},
			</if>
			<if test="parentId != null">
				 parentId = #{parentId},
			</if>
			<if test="replyCount != null">
				 replyCount = #{replyCount},
			</if>

 		 </set>
		 WHERE commentId = #{commentId}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="comment">
		 UPDATE cms_comment
		 SET 
			 commentUserId = #{commentUserId},
			 replyUserId = #{replyUserId},
			 contentId = #{contentId},
			 siteId = #{siteId},
			 createTime = #{createTime},
			 replyTime = #{replyTime},
			 ups = #{ups},
			 downs = #{downs},
			 isRecommend = #{isRecommend},
			 isChecked = #{isChecked},
			 score = #{score},
			 parentId = #{parentId},
			 replyCount = #{replyCount}
		 WHERE commentId = #{commentId}
	</update>

</mapper>