<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db1.EventApplyAttrMapper">

    <!--删除：根据主键ID删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM cms_event_apply_attr
        WHERE applyId = #{applyId}
    </delete>

    <!--删除：根据主键ID批量删除-->
    <delete id="deleteList">
        DELETE FROM cms_event_apply_attr
        WHERE applyId in
        <foreach item="item" index="index" collection="applyIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 添加 -->
    <insert id="insert" parameterType="com.abc12366.cms.model.EventApplyAttr">
        INSERT INTO cms_event_apply_attr
        (applyId,attrName,attrValue)
        VALUES
        (#{applyId},#{attrName},#{attrValue})
    </insert>

    <!-- 添加 （匹配有值的字段）-->
    <insert id="insertSelective" parameterType="com.abc12366.cms.model.EventApplyAttr">
        INSERT INTO cms_event_apply_attr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyId != null">
                applyId,
            </if>
            <if test="attrName != null">
                attrName,
            </if>
            <if test="attrValue != null">
                attrValue,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyId!=null">
                #{applyId},
            </if>
            <if test="attrName!=null">
                #{attrName},
            </if>
            <if test="attrValue!=null">
                #{attrValue},
            </if>
        </trim>
    </insert>

    <!-- 修 改-->
    <update id="updateByPrimaryKeySelective" parameterType="com.abc12366.cms.model.EventApplyAttr">
        UPDATE cms_event_apply_attr
        <set>
            <if test="attrName != null">
                attrName = #{attrName},
            </if>
            <if test="attrValue != null">
                attrValue = #{attrValue},
            </if>

        </set>
        WHERE applyId = #{applyId}
    </update>

    <!-- 修 改-->
    <update id="updateByPrimaryKey" parameterType="com.abc12366.cms.model.EventApplyAttr">
        UPDATE cms_event_apply_attr
        SET
        attrName = #{attrName},
        attrValue = #{attrValue}
        WHERE applyId = #{applyId}
    </update>

</mapper>