<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cms.mapper.db1.PrizeMapper">

    <!--删除：根据主键ID删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM cms_paper_prize
        WHERE id = #{id}
    </delete>

    <!-- 添加 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.abc12366.cms.model.questionnaire.Prize">
        INSERT INTO cms_paper_prize
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="questionId != null">
                questionId,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="price != null">
                price,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="questionId!=null">
                #{questionId},
            </if>
            <if test="name!=null">
                #{name},
            </if>
            <if test="number!=null">
                #{number},
            </if>
            <if test="price!=null">
                #{price},
            </if>
        </trim>
    </insert>

    <!-- 修 改-->
    <update id="update" parameterType="com.abc12366.cms.model.questionnaire.Prize">
        UPDATE cms_paper_prize
        <set>
            <if test="questionId != null">
                questionId = #{questionId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="number != null">
                number = #{number},
            </if>
            <if test="price != null">
                price = #{price},
            </if>

        </set>
        WHERE id = #{id}
    </update>

</mapper>