<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.cszj.mapper.db2.AdPageRoMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
      id, name, url, link, sort, showName, status, createTime, lastUpdate
    </sql>

    <select id="selectList" resultType="com.abc12366.cszj.model.bo.AdPageBO" parameterType="com.abc12366.cszj.model.bo.AdPageBO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cszj_adpage
        <where>
            <if test="name != null">name like CONCAT('%',#{name},'%')</if>
        </where>
        ORDER BY sort DESC
    </select>

    <select id="selectOne" resultType="com.abc12366.cszj.model.bo.AdPageBO" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cszj_adpage
        WHERE id = #{id}
    </select>

    <select id="selectListForqt" resultType="com.abc12366.cszj.model.bo.AdPageBO" parameterType="com.abc12366.cszj.model.bo.AdPageBO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cszj_adpage
        <where>
            status  is true
            <if test="name != null"> and name like CONCAT('%',#{name},'%')</if>
        </where>
        ORDER BY lastUpdate DESC
    </select>
</mapper>