<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.admin.mapper.db2.DictRoMapper">

    <sql id="Base_Column_List">
        id, dictId, dictName, fieldKey, fieldValue, status, createTime, createUser, lastUpdate, lastUser
    </sql>

    <select id="selectList" resultType="com.abc12366.admin.model.Dict" parameterType="com.abc12366.admin.model.Dict">
        select
        <include refid="Base_Column_List" />
        from sys_dict
        <where>
            1=1
            <if test="dictName != null and dictName!=''"> and dictName LIKE CONCAT('%',#{dictName},'%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectOne" resultType="com.abc12366.admin.model.Dict" parameterType="com.abc12366.admin.model.Dict">
        select
        <include refid="Base_Column_List" />
        from sys_dict
        <where>
            1=1
            <if test="dictId != null and dictId!=''"> and dictId = #{dictId}</if>
        </where>
    </select>

    <select id="selectFirstLevel" resultType="com.abc12366.admin.model.Dict">
        select id, dictId, dictName
        from sys_dict
    </select>

    <select id="selectById" resultType="com.abc12366.admin.model.Dict">
        select
        <include refid="Base_Column_List" />
        from sys_dict
        where id = #{id}
    </select>

    <select id="selectByDictId" resultType="com.abc12366.admin.model.Dict">
        select
        <include refid="Base_Column_List" />
        from sys_dict
        where dictId = #{dictId}
    </select>

    <select id="selectByDictName" resultType="com.abc12366.admin.model.Dict">
        select
        <include refid="Base_Column_List" />
        from sys_dict
        where dictName = #{dictName}
    </select>
</mapper>