<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.admin.mapper.db2.LoginInfoRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	userId,	appId,	token,	lastResetTokenTime
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.abc12366.admin.model.LoginInfo" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_login_info
		 WHERE id = #{id}
	</select>

    <!-- 查询（根据userId和appId查询） -->
    <select id="selectOne" resultType="com.abc12366.admin.model.LoginInfo" parameterType="com.abc12366.admin.model.LoginInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_login_info
        <where>
            1=1
            <if test="userId != null">
               and userId = #{userId}
            </if>
            <if test="appId != null">
               and appId = #{appId}
            </if>
        </where>
    </select>

    <!-- 查询（根据userId和appId查询） -->
    <select id="selectInfoByToken" resultType="com.abc12366.admin.model.LoginInfo" parameterType="com.abc12366.admin.model.LoginInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_login_info
        <where>
            1=1
            <if test="token != null and token!=''">
                and token = #{token}
            </if>
        </where>
    </select>

</mapper>