<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc12366.admin.mapper.db2.OrganizationRoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	parentId,	name,	code,	areaId,	type,	contact,	phone,	address,	remark,	status,	createUser,	createTime,	lastUser,	lastUpdate
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectOrganizationById" resultType="organization" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_organization
		 WHERE id = #{id}
	</select>

    <select id="selectList" resultType="organization">
        select
        <include refid="Base_Column_List"/>
        from sys_organization order by createTime
    </select>
</mapper>